<section class="h-100 h-custom" style="background-color: #ffffff;">
   <div class="container py-5 h-100">
     <div class="row d-flex justify-content-center align-items-center h-100">
       <div class="col-lg-8 col-xl-6">
         <div class="card rounded-3">
           <!-- <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/img3.jpg" class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;" alt="Sample photo"> -->
           <div class="card-body p-4 p-md-5">
             <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Login</h3>
  
             <form class="px-md-2">
              <div class="test">
                <label for="form1">Mobile Number</label> 
                     <!-- <input type="text" name="mobile"  [(ngModel)]="mobile" class="form-control" (keyup)="keyPress($event)" (keydown)="keyPress($event)"   minlength=10 maxlength=10 mdbInput> -->
                     <ngx-intl-tel-input [cssClass]="'ty'" [preferredCountries]="preferredCountries"
                     [enableAutoCountrySelect]="true" 
                     [enablePlaceholder]="true" 
                     [searchCountryFlag]="true"
                     [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" 
                     [selectFirstCountry]="false"
                     [selectedCountryISO]="CountryISO.India"
                     [phoneValidation]="true"
                     [separateDialCode]="separateDialCode"
                     [(ngModel)]="mobile" 
                     (keyup)="keyPress($event)" 
                     (keypress)="keyPress($event)" 
                     [numberFormat]="PhoneNumberFormat.National" 
                    
                     
                     name="phone" >
                   </ngx-intl-tel-input>
                     <!-- <label for="form1">Mobile Number</label> -->
                     <br>

                     <small *ngIf="mobileStatus" class="text-danger">{{mobileStatuss}}</small>
                 </div>
                 
                  <div class="col-md-12 text-center mb-3">
                    <button mdbBtn type="submit" [class]="registerSucess ? 'amber darken-4' :'btn-primary' " (click)="onSubmit()" [disabled]="!registerSucess">Log in to account?</button>
                  </div>


              <div class="row" *ngIf="mobileDiv">
                 <div class="md-form md-outline">
                  <input type="text" name="mobileOtp"  [(ngModel)]="mobileOtp" class="form-control" (keyup)="mobileOTP($event)" [disabled]="mobileOTPtext" minlength=6 maxlength=6 (keyup)="checkcontactMobile($event)" (keydown)="checkcontactMobile($event)"  mdbInput>
                  <label for="form1">Mobile OTP</label>
                  <small *ngIf="mobileotpError" class="text-danger">{{mobile_error}}</small>
                  <br>
                  <small *ngIf="mobileotpError" class="text-danger">Remaining User Tries : {{otpTry}}</small>
                  <br>
                  <div *ngIf="timer">Time left = <span>{{maxTime}} Sec</span></div>
                  <small *ngIf="mobileotpsuccess" class="text-success">{{mobile_error}}</small>
                </div>

       
                <!-- <div class="col-md-6 text-center mb-3">
                   <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm" [disabled]="!verifyMobile" (click) = "veryPhone()"  >Verify Mobile</button>
                </div> -->



                  <div class="col-md-6 text-center mb-3">
                   <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm" *ngIf="mobileResenddiv" (click)="resendOtp()">Resend Mobile OTP</button>
                  </div>
                </div>


                <div class="col-md-12 ">
                 <div class="form-group">
                  <p class="text-center">Don't have account? <a  (click)="openRegister()">Sign up here</a></p>
                </div>
              </div>

             </form>
           </div>
         </div>
       </div>
     </div>
   </div>


</section>


