:host ::ng-deep .ty {
    width: 262px; /*462*/

}

.test{
    /*padding:0px 22px 20px 25px; */
    padding:0px 20px 20px 25px; 
}

.login
{

    font-family: 'Montserrat', sans-serif; 
    text-align: center;
    font-size: 30px;
}
.btnlogin{
   
    
    position:auto;
    left: 25%;
    text-decoration-style: solid;
    
    
}
.card-img-top{
 width : 40%

 

}
.gradient-custom {
    /* fallback for old browsers */
    background: #6F016F;
  
   
  }
  .card-body{

    color:#ccad00;
  }
  .card{
    color:#ccad00;
  }
  /*********************************/
  
  .main-content{
	width: 50%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}
.company__info{
	background-color: #fff;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.fa-android{
	font-size:3em;
}
@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > h2{
	color: #6F016F ;
}
.logo11{
	width: 200px;
	height: 200px;
	position: relative;
    bottom:50px;
	right: 10px;
}
.login_form{
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color:  #6F016F ;

	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#6F016F;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid  #6F016F ;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btn:hover, .btn:focus{
	background-color: #6F016F;
	color:#fff;
}