.uprofile{

    color:whitesmoke;
	/* font-family: 'Lora';
    font-size: 20px;   */
	font-family: 'Lato';
    font-size: 25px;  
	font-weight:400px;

}
.upinput{
   
        border-radius: 5px;
        background-color:#790666;
         /* #bfbfbf; */
        
    
}
.upform-control{
	width:375px;
    height:35px;
	font-family: 'Lato',sans-serif;	
	font-size:12px;
}
.upform-control1{
	width:250px;
	font-family: 'Lato',sans-serif;	
	font-size:12px;
    height:35px;
}

.input-group-text{
    font-family: 'Lato',sans-serif;	
	font-size:12px;
}
.uprofile-form {
/* align-items: center; */
align-content: center;
}
.upwrap {
	height: 100%;
	
	/* display: flex;
	align-items: center;
	justify-content: center; */
  }
  .upbtn{
	color:#790666;
	background-color: white;
	
}
.upactbtn {
	width: 122px;
	height: 30px;
	font-family: 'Lato';
	font-size: 14px;

	/* text-transform: uppercase; */
	letter-spacing: 1.0px;
	font-weight: 800;
	color: #790666;/*#000;*/
	background-color: #ccad00;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	}
  
  .upactbtn:hover {
	background-color:#ccad00;
	box-shadow: 0px 15px 20px rgba(201, 165, 5, 0.4);
	color: #790666;
	transform: translateY(-7px);
  }