<!-- SECTION 1----banner section-->

<section id="banner-head">
	<!-- Container starts here -->
	<div class ="container">
		<!-- Row Starts here -->
		<div class="row">
			<!--Col Starts here -->
			<div class="col">				
				<div class="col-md-12">
				<p class="intro">Introducing</p>
				<h1 class="pioneer"> Pioneer <span class="promo-title"> in teaching of  Language Learning & Handwriting Improvement</span></h1>			
							
				</div>
				
			</div> <!-- Col ends here --> 
		</div> <!-- Row ends -->
	</div>	<!-- Container ends here -->
</section>


 <!-- SECTION 1----banner section-->

<section id="banner" class="mt-2">
	<!-- Container starts here -->
	<div class ="container">
		<!-- Row Starts here -->
		<div class="row">
			<!--Col Starts here -->
			<div class="col">				
				
				<div class="row">
					<div class="col-md-5">
						<img class="owner" src ="assets/images/anu1.png" >
						<div class="btnabt"><a href="#"> About me </a></div>
					</div>
					<div class = "col-md-7">	
						<div class="video-frame" data-vimeo-id="653383645" data-vimeo-title="false"  data-vimeo-loop="true" data-vimeo-responsive="true" id="handstick"></div>
					</div>
				</div>
				<div class="row">
					<div class = "col-md-4 text-left">	
					<p class ="message text-center"> "I believe in best only , not better than others" <p> 
					<p class ="namemsg text-center"> Anu Sharma </p>
					<p class ="profilemsg text-center">( Linguist, Writer & Trainer )</p>
					</div>
				</div>
			</div> <!-- Col ends here --> 
		</div> <!-- Row ends -->
	</div>	<!-- Container ends here -->
</section>

<!--------------------------- SECTION 2------------------ Our Courses--------------------->
<section id="ocourses" class="mt-5">
<div class="container">	
	<h1 class ="courses"> Our Courses </h1>
	<div class="row">
	<!-----------------------------------Eng Speaking Course------------------------------------------------>

		<div class="col-md-4 "> <!--by sj-->
			 <div class="coursebox"> 
				<img class="coursepic" src ="assets/images/ps02.png" >
				<div class="abottom">
					<a href="#"><i class="ag fas fa-angle-right fa-2x"></i> </a>
				</div>			
				<!-- <div class="topleft"><a href="#"> English Speaking Courses </a></div> -->
				<div class="topleft"><a [routerLink]="['/product']" [queryParams]="{ id: 2}"> English Speaking Courses </a></div>
			</div>
			</div>	 <!--by sj-->

		<div class="col-md-4">
			<div class="coursebox">
				<img class="coursepic" src ="assets/images/hw1.jpg" >
				<div class="abottom">
					<a href="#"><i class="ag fas fa-angle-right fa-2x"></i> </a>
				</div>						
				<div class="topleft"><a [routerLink]="['/product']" [queryParams]="{ id: 6}"> Handwriting Improvement</a></div>
			</div>
		</div>

		<div class="col-md-4 ">
			 <div class="coursebox"> 
			<img class="coursepic" src ="assets/images/sp1.png" >
			<div class="abottom">
				<a href="#"><i class="ag fas fa-angle-right fa-2x"></i> </a>
			</div>					
			<!-- <div class="topleft"><a href="#"> Language Learning Course</a></div> -->
				<div class="topleft"><a [routerLink]="['/product']" [queryParams]="{ id: 7}"> Language Learning Course</a></div>
			</div>
		</div>	

	</div>

</div>
</section>
<!-------------------------- SECTION 3------------------- Our Keyoffers-------------------->
<section id="okeyoffers">
<div class="container">	
	<div class="row align-items-center">
	<!-----------------------------------Eng Speaking Course------------------------------------------------>
		<div class="col-md-6 mx-auto">
			<div class="row">
				
			
				<div class="icons col-md-6 text-left">
					<i class="gr fas fa-user-graduate fa-3x">   <span class="fkey"> 60K+</span></i><br>					
					<h3 class="fkey1">Spoken English students</h3>
				</div>

				<div class="icons col-md-6 text-left">
						<i class="gr fas fa-user-edit fa-3x"><span class="fkey"> 15K+</span></i>
						<br>
						<h2 class="fkey1 ">English Handwriting students</h2>
				</div>	
				
			</div>
			
			<div class="row mt-7">
				
				<div class="icons col-md-6 text-left">
					<i class="gr fas fa-user-edit fa-3x">   <span class="fkey"> 10K+</span></i>
					<br>
					<h3 class="fkey1">Hindi Handwriting students</h3>
				</div>
				<div class="icons col-md-6 text-left">
						<i class="gr fas fa-flag fa-3x"><span class="fkey"> 5+</span></i>
						<br>
						<h2 class="fkey1 ">State Franchises</h2>
				</div>	
				
			</div>
			
		
		</div>	
		
		<div class="col-md-6 box ">

		<!-- why aea -->
		<div class = "row">
			<div class="col">
			<div class="box-text p-5">
			<p class="why" >Why</p>
			<h2 class="aea"> Anu English Academy? </h2>
			<ul class ="list-text ">
				<li class="mb-2">Very easy, unique & effective pedagogy (method of teaching) of Spoken English training.</li>
				<li class="mb-2">Very unique & result oriented English | Hindi | Marathi handwriting improvement courses. </li>
				<li class="mb-2">Earning opportunity with respect.</li>	
				<li class="mb-2">Thousands of satisfied learners of all age group | backgrounds. </li>	
				<li class="mb-2">Believe in doing business with honesty and sincerity.</li>		
			</ul>
		</div>
		</div>
		</div>	
		</div>	
	</div>
</div>
</section>

<!-- Section 4 -------What are learners are saying---------------------------------------- -->
<section id="learners_news">
	<div class="container">
		<div class="row">
		<!-----------------------------------Learners Section ----------------------------------------------->
		
			<div class="col-md-6 ">
				
			<h1 class ="rowcourse">What our learners <span class="rowcourse">  are saying?</span> <span> <a href="#" class="see-more">See more...</a></span> </h1>
		 	<!-- <span> <a href="#" class="see-more">See more...</a></span>  -->
			 <br>
			<div class="row">
				<div class="col">
			<div class="learners p-4">

				<!-- <div id="test1">
					<br> --><br> 
				<h4  class="fb ">                                            
					"I would like to express my sincere gratitude to Mr. Anu for designing such a course. It has really helped in bringing out the best in my child. The teacher really made the class sessions very comfortable with virtual learning."</h4>
					<h5  class="parent ">Neeru Bhayana</h5>
					<hr>

				<!-- </div> -->
				
				  
				  <div id="test2 ">
					<h4  class="fb ">"Must Congratulate the creators & teachers of this Handwriting course for coming up with this unique idea, which is the need of hour, when due to online teaching, students handwriting have taken a huge hit.
						Within just 15 sessions.I can see improvement in the Handwriting skills.

					Best wishes to the institute & I would like to give a very high recommendation for this course, for anyone looking to enhance their writing skills."

					</h4>
					<h5 class="parent ">Sumeet Kr Jha</h5>
					<hr>
					
					
				  </div>	
				
				  <div id="test3">
					<h4  class="fb ">
						"I would like to suggest Anu English Academy for its ethics and learning skills. Anu Sharma Sir teaches in that way those who can't speak English will start speaking in English from the 10 day of the course. Then think how the student could speak after the course. Sir takes the student on the way of his method of speaking. Sir Thank you so much. I recommend everyone who wants to speak English can take only from SIR. The value of subject is what the student takes from him."

					</h4>
					<h5 class="parent ">Madhavi Datla</h5>
					<hr>
					
					
				  </div>	
				
				  <div id="test4">
					<h4  class="fb">
						"I am learning a lot from you sir. Now I lost my hesitation and trying to put myself forward.  Thank u ANU SHARMA SIR🙏"

					</h4>
					<h5 class="parent ">Jayanti Gangireddy</h5>
					<hr>
					
					
				  </div>	
				</div>
			</div>
			</div>
			</div>
		<!---Col ends--->
		<!-- news Insights starts -->
		<div class="  col-md-6 ">
			<h1  class ="newshead">News and Insights for you 
				<span> <a href="#" class="see-more">         </a></span>
				<br>
			</h1>
			
			<br>
			<div class="row">
				<div class="col">
			<div class="news">		
			 
			<div class="row">	
				
				<div class="col-md-3 ">		
					<img class="news_pic m-2" src ="assets/images/mc11.jpg"> 
				</div>
				
				<div class="col-md-9">
					<h5  class="newsname">India Today <br> 30th may ,2012 </h5>
					<h5 class="head">Possible to have good handwriting </h5>
				</div>
			</div>

			<div class="row">	
					<div class="col-md-3">		
						<img class="news_pic m-2" src ="assets/images/mc66.png"> 
					</div>
					
					<div class="col-md-9">
						<h5  class="newsname">Hindustan Times <br>  4th May,2012</h5>
						<h5 class="head">Improvise your writing skills </h5>
					</div>
			</div>

			<div class="row">

				<div class="col-md-3">	
					<img class="news_pic m-2" src ="assets/images/mc22.png"> 
				</div>

				<div class="col-md-9">
					<h5  class="newsname">Hindustan Times <br> 28th May,2011</h5>
					<h5 class="head">Use Fountain Pens for good handwriting  </h5>

				</div>		
			</div>

			<div class="row">	
				<div class="col-md-3">		
					<img class="news_pic m-2" src ="assets/images/mc88.png"> 
				</div>
				
				<div class="col-md-9">
					<h5  class="newsname">Hindustan Times <br>  12th Sep,2009</h5>
					<h5 class="head"> Tech to set your handwriting right </h5>
				</div>
			</div>

			<!-- more -->
			<div class="row">	
				<div class="col-md-3">		
					<img class="news_pic m-2" src ="assets/images/mc333.jpg"> 
				</div>
				
				<div class="col-md-9">
					<h5  class="newsname">Dainik Bhaskar<br>18th Feb,2011</h5>
					<h5 class="head"> Improve your handwriting <br>(Gujarati Edition)</h5>
				</div>
			</div>
			<div class="row">	
				<div class="col-md-3">		
					<img class="news_pic m-2" src ="assets/images/mc99.jpg"> 
				</div>
				
				<div class="col-md-9">
					<h5  class="newsname">Dainik Bhaskar <br>19th Aug,2010</h5>
					<h5 class="head"> Magic of Fingers </h5>
				</div>
			</div>
			<div class="row">	
				<div class="col-md-3">		
					<img class="news_pic m-2" src ="assets/images/mc44.jpg"> 
				</div>
				
				<div class="col-md-9">
					<h5  class="newsname">Dainik Jagran <br>  29th Nov,2013</h5>
					<h5 class="head"> Handwriting of Career</h5>
				</div>
			</div>
			<div class="row">	
				<div class="col-md-3">		
					<img class="news_pic m-2" src ="assets/images/mc55.png"> 
				</div>
				
				<div class="col-md-9">
					<h5  class="newsname">Rashtriya Sahara <br>  24th Nov,2009</h5>
					<h5 class="head"> Don't be shameful for Handwriting </h5>
				</div>
			</div>

			</div>
		</div>





	</div>

			</div>
	  
		<!-- news Insights ended-->		
			<!-- Row Ends -->
		</div>
		<!-- Container End  -->
	</div>
	<!-- Section Ends -->
</section>



<!--  Section : -->
