<!----------SECTION 2-----banner section------------
One Row Two Columns 
--->
	<section id="banner">
		<div class ="container">
	<div class = "row">
	<!------------One Column---------->
	<div class = "col-md-6">
	<br><br>
	<h1 class="promo-title" style = "color:#fff"> Pioneer in teaching of</h1> 
	<h2 class="speak-title"style = "color:#fff"> Language Learning & Handwriting Improvement </h2>
	<h3 class="LearnEng" > Learn English  </h3>
	<a href="#"> <img src="assets/images/play.jpg" class="play-btn"></a>
	</div>
	
	<!------------Second Column----------------->
	<div class="col-md-6 text-center">
	<img src ="assets/images/anu1.png" class="owner">
	<p class ="message"> "I believe in best only , not better than others" <p> <!--- <br>Anu Sharma </p>-->
	<p class ="namemsg"> Anu Sharma </p>
	<p class ="lingmsg">(Linguist,Writer & Trainer)</p>
	<!-----------
	<img src ="images/MEC.jpg" class="mef-book">--->
	</div>
	
	
	</div>
	</div>
	</section>
	
	<!-----SECTION 3----------Why AEA--About us ------------>
	<section id="about-us">
	<div class="container">
	<h1 class ="title1 text-center">WHY </h1>
	<h2 class ="title text-center">Anu English Academy?</h2>
	
	<div class="row">
	<!---------------Column------------>
	<div class="col-md-8 about-us">
	<p class="about-title"> Why we're different</p>
		<ul class ="list-text">
		<li>Very easy, unique & effective pedagogy (method of teaching) of Spoken English training</li>
		<li>Very unique & result oriented English | Hindi | Marathi handwriting improvement courses </li>
		<li>Earning opportunity with respect</li>
		<li>Thousands of satisfied learners of all age group | backgrounds </li>
		<li>Believe in doing business with honesty and sincerity</li>		
	</ul>
	</div>
	</div>
	</div>
    </section>

	

<!--SECTION 4-------------Our Key offers----------->
	<section id="keyoffers">
		<!---------------We need one row 3 cols----------->
	<div class="container ">
	<h1 class="title_key text-center">Our Key Offers</h1>
	
	<div class="row text-center">
	<div class="col-md-3 keyoffers">
	<!------------<img src ="images/Education Growth.png" class="service-image">---->
	<h4>Language Learning</h4>
	<p> Provides an incredible classroom experience of learning English & Hindi Language.</p>
	</div>
	
	<div class="col-md-3 keyoffers">
	<!------------<img src ="images/Classroom.png" class="service-image">--->
	<h4>Handwriting Improvement Courses</h4>
	<p> Offers English,Hindi,Marathi,Sanskrit & other Handwriting Improvement </p>
	</div>
	
	
	<div class="col-md-3 keyoffers">
	<!------------<img src ="images/elearn.png" class="service-image">--->
	<h4>Association with us </h4>
	<p> Join hand with us & get Name, Fame & earning.</p>
	</div>
	</div>
	</div>
</section>
	

	<!---------------Sec -5 Our Courses ------------>
	
	<div class="container">
	<h1 class ="courses text-center"> Our Courses </h1>
	<div class="row">
	<!-----------------------------------Eng Speaking Course------------------------------------------------>
	<div class="col-md-4 col-sm-4">
  
		<div class="pricingTable">
			<div class="pricingTable-header">
				<h3 class="title"> English  </h3>
			</div>
			<div class="price-value">
			  <span class="amount">English Speaking Course</span>
			
			 </div>
			<ul class="pricing-content">
				<li>Magic English Speaking Course (Basic)</li> <!----- C1 Click on act-->                             
				<li>My English Friend (Basic to Advance)</li> <!----- C2 Click on act-->                    
			</ul>

<!----C1--Enable This when Magic English Speaking Course (Basic) is selected -->
			<ul class ="list-group">                                                                                            
				  <li class="list-group-item">Paperback Edition</li>
				  <li class="list-group-item">Video Edition </li>
				  <li class="list-group-item">Digital Edition (e-book)</li>
				  <li class="list-group-item">Paperback + Video Edition </li>
				  <li class="list-group-item">Digital(e-book) + Video Edition </li>                      
			</ul> 

<!----C2--Enable This when My English Friend (Basic to Advance) is selected -->
		   <ul class ="list-group">                                                                                            
				<li class="list-group-item">Paperback Edition</li>
				<li class="list-group-item">Video Edition </li>
				<li class="list-group-item">Digital Edition (e-book)</li>
				<li class="list-group-item">Paperback + Video Edition </li>
				<li class="list-group-item">Digital(e-book) + Video Edition </li>
				<li  class="list-group-item">Live Class </li>
				<li  class="list-group-item">Live Class with Paperback Edition </li>
				<li  class="list-group-item">Live Class with e-book</li>                          
			</ul> 

		</div>
	</div>

<!---------------------------------Handwriting Improvement-------------------------------------------------->

<div class="col-md-4 col-sm-4">

<div class="pricingTable_hw">
<div class="pricingTable_hw-header">
  <h3 class="title"> Handwriting </h3>  
</div>

  <div class="price-value">
	<!---<span class="duration"> English Speaking Course</span>-->
	<span class="amount"> Handwriting Improvement Courses   </span>
   <br>
   </div>

<ul class="pricing-content_hw">

	 <li>English Handwriting Improvement </li>
	 <li>Hindi  Handwriting Improvement </li>
	 <li>Marathi Handwriting Improvement </li>
	 <li>Sanskrit Handwriting Improvement </li>

</ul>


</div>
</div>

<!---------------------------------Language Learning -------------------------------------------------->

<div class="col-md-4 col-sm-4">

<div class="pricingTable_ll">
<div class="pricingTable_ll-header">
  <h3 class="title"> Language</h3>
</div>
<div class="price-value_ll">
<span class="amount_ll">Language Learning Courses</span>
</div>
<ul class="pricing-content_ll">
   <li> My Grammar Guru    (Basic to Advance English Grammar)</li>
   <li> My Hindi Friend    (Hindi Learning through English)  </li>
  

</ul>
</div>
</div>


	<!----Sec 6 ------------Social Media Start ----------->
	<section id="social-media">
        <div class="container text-center">
        <h1 class ="courses text-center"> FIND US ON SOCIAL MEDIA</h1>
        <div class="social-icons">
        <!---<img src="Images/smedia.png">--->
            
        <a href="#"><img src="/assets/images/smedia.png"></a>
        <a href="#"><img src="/assets/images/facebook.png"></a>
        <a href="#"><img src="/assets/images/youtube.png"></a>
        
        <a href="#"><img src="/assets/images/linkedin.png">	</a>
        <a href="#"><img src="/assets/images/twitter.png"></a>
        <a href="#"><img src="/assets/images/amazon.png"></a>
        <a href="#"><img src="/assets/images/flipkart.png"></a>
        <a href="#"><img src="/assets/images/google.png"></a>
        <br><br>
        </div>
        <div class="news-icons">
        <img  src="/assets/images/c11.jpg">
        <img  src="/assets/images/mc22.png">
        <img  src="/assets/images/mc33.png">
        <img  src="/assets/images/mc44.jpg">
        <img  src="/assets/images/mc55.png">
        <img  src="/assets/images/mc66.png">
        <img  src="/assets/images/mc77.png">
        <img  src="/assets/images/mc88.png">
        
        </div>
        
        </div>
        </section>
        
<!-- Social media secition end-->


<!------------- Testimonials Start-------->
<section id="Testimonials">
   <div class ="container results">
    <h1 class ="courses text-center">WHAT CLIENTS SAY</h1>
<div class="row offset-1">
	<!---- MAking a Col------->
	<div class = "col-md-5 testimonials"><img class="greview"  src="assets/images/google.png"></div>
	<!---- MAking a Col------>
	<div class = "col-md-5 testimonials"><img  class="greview" src="assets/images/review2.jpg"></div>
</div>
 </div>
</section>

<!------------- Testimonials ENd-------->
	