<!----------SECTION 2-----banner section------------
One Row Two Columns 
--->
	<section id="banner">
		<div class ="container">
	<div class = "row">
	<!------------One Column---------->
	<div class = "col-md-6">
	<br><br>
	<h1 class="promo-title" style = "color:#fff"> Pioneer in teaching of</h1> 
	<h2 class="speak-title"style = "color:#fff"> Language Learning & Handwriting Improvement </h2>
	<h3 class="LearnEng" > Learn English  </h3>
	<a href="#"> <img src="assets/images/play.jpg" class="play-btn"></a>
	
	</div>
	
	<!------------Second Column----------------->
	<div class="col-md-6 text-center">
	<img src ="assets/images/anu1.png" class="owner">
	<p class ="message"> "I believe in best only , not better than others" <p> <!--- <br>Anu Sharma </p>-->
	<p class ="namemsg"> Anu Sharma </p>
	<p class ="lingmsg">(Linguist,Writer & Trainer)</p>
	<!-----------
	<img src ="images/MEC.jpg" class="mef-book">--->
	</div>
	
	
	</div>
	</div>
	</section>
	
	<!-----SECTION 3----------Why AEA--About us ------------>
	<section id="about-us">
	<div class="container">
	<h1 class ="title1 text-center">WHY </h1>
	<h2 class ="title text-center">Anu English Academy?</h2>
	
	<div class="row">
	<!---------------Column------------>
	<div class="col-md-8 about-us">
	<p class="about-title"> Why we're different</p>
		<ul class ="list-text">
		<li>Very easy, unique & effective pedagogy (method of teaching) of Spoken English training</li>
		<li>Very unique & result oriented English | Hindi | Marathi handwriting improvement courses </li>
		<li>Earning opportunity with respect</li>
		<li>Thousands of satisfied learners of all age group | backgrounds </li>
		<li>Believe in doing business with honesty and sincerity</li>		
	</ul>
	</div>
	</div>
	</div>
    </section>

	

<!--SECTION 4-------------Our Key offers----------->
	<section id="keyoffers">
		<!---------------We need one row 3 cols----------->
	<div class="container ">
	<h1 class="title_key text-center">Our Key Offers</h1>
	
	<div class="row text-center">
	<div class="col-md-4 keyoffers">
	<!------------<img src ="images/Education Growth.png" class="service-image">---->
	<h3>Language Learning</h3>
	<p> Provides an incredible classroom experience of learning English & Hindi Language.</p>
	</div>
	
	<div class="col-md-4 keyoffers">
	<!------------<img src ="images/Classroom.png" class="service-image">--->
	<h3>Handwriting Improvement </h3>
	<p> Offers English,Hindi,Marathi,Sanskrit & other Handwriting Improvement </p>
	</div>
	
	
	<div class="col-md-4 keyoffers">
	<!------------<img src ="images/elearn.png" class="service-image">--->
	<h3>Association with us </h3>
	<p> Join hand with us & get Name, Fame & earning.</p>
	</div>
	</div>
	</div>
</section>
	

	<!---------------Sec -5 Our Courses ------------>
	
	<div class="container">
	<h1 class ="courses text-center"> Our Courses </h1>
	<div class="row">
	<!-----------------------------------Eng Speaking Course------------------------------------------------>
	<div class="col-md-4 col-sm-4">
  
		<div class="pricingTable">
			<div class="pricingTable-header">
				<h4 class="title"> English  </h4>
			</div>
			<div class="price-value">
			  <span class="amount">English Speaking Courses</span>
			
			 </div>
			<ul class="pricing-content">
				<li>Magic English Speaking Course (Basic)</li> <!----- C1 Click on act-->                             
				<li>My English Friend (Basic to Advance)</li> <!----- C2 Click on act-->                    
			</ul>

<!----C1--Enable This when Magic English Speaking Course (Basic) is selected -->
			<ul class ="list-group">                                                                                            
				  <li class="list-group-item">Paperback Edition</li>
				  <li class="list-group-item">Video Edition </li>
				  <li class="list-group-item">Digital Edition (e-book)</li>
				  <li class="list-group-item">Paperback + Video Edition </li>
				  <li class="list-group-item">Digital(e-book) + Video Edition </li>                      
			</ul> 

<!----C2--Enable This when My English Friend (Basic to Advance) is selected -->
		   <ul class ="list-group">                                                                                            
				<li class="list-group-item">Paperback Edition</li>
				<li class="list-group-item">Video Edition </li>
				<li class="list-group-item">Digital Edition (e-book)</li>
				<li class="list-group-item">Paperback + Video Edition </li>
				<li class="list-group-item">Digital(e-book) + Video Edition </li>
				<li  class="list-group-item">Live Class </li>
				<li  class="list-group-item">Live Class with Paperback Edition </li>
				<li  class="list-group-item">Live Class with e-book</li>                          
			</ul> 

		</div>
	</div>

<!---------------------------------Handwriting Improvement-------------------------------------------------->

<div class="col-md-4 col-sm-4">

<div class="pricingTable_hw">
<div class="pricingTable_hw-header">
  <h4 class="title">Handwriting </h4>  
</div>

  <div class="price-value">
	<!---<span class="duration"> English Speaking Course</span>-->
	<span class="amount"> Handwriting Improvement Courses   </span>
   <br>
   </div>

<ul class="pricing-content_hw">

	 <li>English Handwriting Improvement </li>
	 <li>Hindi  Handwriting Improvement </li>
	 <li>Marathi Handwriting Improvement </li>
	 <li>Sanskrit Handwriting Improvement </li>

</ul>


</div>
</div>



<!---------------------------------Language Learning -------------------------------------------------->

<div class="col-md-4 col-sm-4">

<div class="pricingTable_ll">
<div class="pricingTable_ll-header">
  <h4 class="title"> Language</h4>
</div>
<div class="price-value_ll">
<span class="amount_ll">Language Learning Courses</span>
</div>
<ul class="pricing-content_ll">
   <li> My Grammar Guru    (Basic to Advance English Grammar)</li>
   <li> My Hindi Friend    (Hindi Learning through English)  </li>
  

</ul>
</div>
</div>


	<!----Sec 6 ------------Social Media Start ----------->
	<section id="social-media">
        <!----S<div class="container text-center">--->
        
			<h1 class ="title_key  text-center"> Find us on Social Media</h1>
			
		<div class="container mt-5 mb-5 d-flex justify-content-center">
			
			<ul class="social-list">
		
				<li>
					<div class="maincard p-3">
						<div class="thecard">
							<div class="thefront text-center py-4 facebook">
								<div class="social-icon"> <i class="fab fa-facebook fa-2x"></i> </div>
							</div>
							<div class="theback py-3 px-3 text-center facebook">
								<div class="social-text mt-1"> <small class="font-weight-bold">Facebook</small> </div>
							</div>
						</div>
					</div>
				</li>
		
				<li>
					<div class="maincard p-3">
						<div class="thecard">
							<div class="thefront text-center py-4 instagram">
								<div class="social-icon"> <i class="fab fa-instagram fa-2x"></i> </div>
							</div>
							<div class="theback py-3 px-3 text-center instagram">
								<div class="social-text mt-1"> <small class="font-weight-bold">Instagram</small> </div>
							</div>
						</div>
					</div>
				</li>
		
				<li>
					<div class="maincard p-3">
						<div class="thecard">
							<div class="thefront text-center py-4 youtube">
								<div class="social-icon"> <i class="fab fa-youtube fa-2x"></i> </div>
							</div>
							<div class="theback py-3 px-3 text-center youtube">
								<div class="social-text mt-1"> <small class="font-weight-bold">Youtube</small> </div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="maincard p-3">
						<div class="thecard">
							<div class="thefront text-center py-4 whatsapp">
								<div class="social-icon"> <i class="fab fa-whatsapp fa-2x"></i> </div>
							</div>
							<div class="theback py-3 px-3 text-center whatsapp">
								<div class="social-text mt-1"> <small class="font-weight-bold">Whatsapp</small> </div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="maincard p-3">
						<div class="thecard">
							<div class="thefront text-center py-4 pinterest">
								<div class="social-icon"> <i class="fab fa-pinterest fa-2x"></i> </div>
							</div>
							<div class="theback py-3 px-3 text-center pinterest">
								<div class="social-text mt-1"> <small class="font-weight-bold">Pinterest</small> </div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
      
        </section>
        

		
	
	<!----Sec 7 -----------Carosuel----->
	<section id="Testimonials1">

		<h1 class ="courses text-center">WHAT CLIENTS SAY</h1>
		
		<div class="container">
	<!-- Carousel wrapper -->
<div
id="carouselBasicExample"
class="carousel slide carousel-fade"
data-mdb-ride="carousel"
>
<!-- Indicators -->
<div class="carousel-indicators">
  <button
	type="button"
	data-mdb-target="#carouselBasicExample"
	data-mdb-slide-to="0"
	class="active"
	aria-current="true"
	aria-label="Slide 1"
  ></button>
  <button
	type="button"
	data-mdb-target="#carouselBasicExample"
	data-mdb-slide-to="1"
	aria-label="Slide 2"
  ></button>
  <button
	type="button"
	data-mdb-target="#carouselBasicExample"
	data-mdb-slide-to="2"
	aria-label="Slide 3"
  ></button>
</div>

<!-- Inner -->
<div class="carousel-inner">
  <!-- Single item -->
  <div class="carousel-item active">
	<img
	  src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).jpg"
	  class="d-block w-100"
	  alt="..."
	/>
	<div class="carousel-caption d-none d-md-block">
	  <h5>First slide label</h5>
	  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
	</div>
  </div>

  <!-- Single item -->
  <div class="carousel-item">
	<img
	  src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).jpg"
	  class="d-block w-100"
	  alt="..."
	/>
	<div class="carousel-caption d-none d-md-block">
	  <h5>Second slide label</h5>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	</div>
  </div>

  <!-- Single item -->
  <div class="carousel-item">
	<img
	  src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).jpg"
	  class="d-block w-100"
	  alt="..."
	/>
	<div class="carousel-caption d-none d-md-block">
	  <h5>Third slide label</h5>
	  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
	</div>
  </div>
</div>
<!-- Inner -->

<!-- Controls -->
<button
  class="carousel-control-prev"
  type="button"
  data-mdb-target="#carouselBasicExample"
  data-mdb-slide="prev"
>
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button
  class="carousel-control-next"
  type="button"
  data-mdb-target="#carouselBasicExample"
  data-mdb-slide="next"
>
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>
<!-- Carousel wrapper -->
			
		</div>
	
	</section>