<!--Section: Block Content---->
<section style="background-color: #ffffff;" padding-bottom="85px;" >
  <div class="container" >
    <!--------Video on-------->
    <!------<section class="mb-5" style="background-color:grey;">----->

      <div class="row">
       
      <div class="col-md-8" style="text-align:left" padding-top="20px"> 
        
          <!-- <iframe src="https://player.vimeo.com/video/592941870?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;h=0e76ef5951" frameborder="1" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Demo1"></iframe></div>
           -->
          <iframe style="overflow: hidden;"[src]="safeSrc" width="800" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen
      allowfullscreen></iframe>

      </div>
          <!--<video controls controlsList="nodownload" disablePictureInPicture allowfullscreen width="870" height="480" muted> 
           
          
            <source  src=" https://vimeo.com/592941870" type= https://vimeo.com/592941870> 
          
          </video>-->

   
    <div class="col-md-4">
        <app-side-bar-toggle></app-side-bar-toggle>
        <app-side-bar></app-side-bar>
      </div>
      </div>  
       
 </div>
</section>