.container {
  position: relative;

  height    : 100%;
  /* padding: 10px; */
  width     : 100%;
}

iframe {
  border: 0;
  width : 100%;
}

.note {
  color      : #790666;
  font-weight: bold;
}

.qa {
  font-family: Lato;
  font-size  : 14px;
  color      : #790666;
  font-weight: bold;
}

.aq {
  font-family: Lato;
  font-size  : 14px;
  color      : #5f5e5e;

}

.tabsdemoCenterTabs {
  /*
         * Style tab width to align with the MD spec:
         * https://material.io/archive/guidelines/components/tabs.html#tabs-specs
         */
}

.tabsdemoCenterTabs md-tab-item {
  min-width: 72px;
}

@media (min-width: 960px) {
  .tabsdemoCenterTabs md-tab-item {
    min-width: 160px;
  }
}