

<!--------- Product Page 
  DOS : 06/01/2022
  Time : 19.12
  Reference Sites:

https://www.practicalecommerce.com/Create-Responsive-Ecommerce-Product-Pages-with-Bootstrap
Thumbnails carousel  https://mdbootstrap.com/docs/angular/advanced/carousel/#thumbnails-carousel



--->


<!-- <section id="product" class="h-100">

  <div class="container" id="product-section">
    <div class="row">
     <div class="col-md-6">
      … [this is the product image]
     </div>
     <div class="col-md-6">
      …[this is the product information]
     </div>
    </div>
   </div> 


</section>--->


    
 <section id="product" class="h-100">

  <div class="container" id="product-section">
      
  <h3 class="mt-4 escheader">English Speaking Courses 
  <span><div class="btn-group ml-4" role="group" aria-label="Basic example">
    
  </div>
</span>
</h3>



  <!-------------------------Row Starts---------------------------------->
    <div class="row">
     <!-------------------------Ist Col starts---------------------------------->
     <div class="col-md-5 mt-5 ">

      <!-- <div class="row">
        <div class="col-md-12">
        </div>
      </div> -->

       <!-- Image div starts   -->
       <div class="row">
          <div class="col-md-12">
              <div class="pro_img-hover-zoom text-center">
          <!-- <div class="view zoom overlay z-depth-2 rounded"> -->
                <!-- <img class=" img-fluid w-50  img-thumbnail img-rounded" src ="/assets/images/MEC.jpg" > -->
                <mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'" style="background-color: #eee;">
                  <mdb-carousel-item>
                    <!-- <img class="d-block w-75" src="https://mdbootstrap.com/img/Photos/Slides/img%20(88).webp" alt="First slide"> -->
                    <img class="d-block w-75" src="/assets/images/mesc33.jpg" alt="Thumbnail image">
                  </mdb-carousel-item>
                  <mdb-carousel-item>
                    <img class="d-block w-75" src="/assets/images/mesc2.jpg" alt="Second slide">
                  </mdb-carousel-item>
                  <mdb-carousel-item>
                    <img class="d-block w-75" src="/assets/images/mesc11.jpg" alt="Third slide">
                  </mdb-carousel-item>
                  <mdb-carousel-item>
                    <img class="d-block w-75" src="/assets/images/mesc4.jpg" alt="Third slide">
                  </mdb-carousel-item>
                  <mdb-carousel-item>
                    <img class="d-block w-75" src="/assets/images/mesc5.jpg" alt="Third slide">
                  </mdb-carousel-item>
                  <mdb-carousel-item>
                    <img class="d-block w-75" src="/assets/images/mesc6.jpeg" alt="Third slide">
                  </mdb-carousel-item>
                  
                </mdb-carousel>
        <!-- </div> -->
             </div>     
          </div>
       </div>
           
               <!-- Image Div ends  -->
         <hr>
        
             
              
              
      </div>
     <!-------------------------Ist Col ends---------------------------------->
     <!------------------------2nd Column-starts---------------------------------->
     <div class="col-md-7 mt-4 ">
      <div class="row">
        <div class="col-md-12">
          <a href="#" class="mr-3">Basic</a>
          <a href="#">Advance</a>
          <hr>
          <h3 class="pro_mesc_head"> Magic English Speaking Course</h3>
          <h6 class ="pro_mesc_author">  <i> by Devender Kumar Sharma alias Anu Sharma (Author)</i></h6>
       </div>
      </div>

      <!-- /Rating -->
        <div class="row">
         <div class="col-md-3">
        <span>
        <ul class="list-unstyled list-inline mb-2 pro_star">
          <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"> </i></li>
          <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
          <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
          <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
          <li class="list-inline-item"><i class="fa fa-star-half-alt fa-xs"></i></li>
        </ul>
      </span>
    </div> 
    <div class="col-md-3">
      <span class="monospaced">Write a Review</span>
     </div>
    </div>
 
    <!-------------CARD for price------------------------------------------------->

    <!-- <div class="card" ">style="width: 35rem; margin:left; padding-left:20px; -->
      <div class="card">
      <div class="card-body">

        <h5 class="card-title">Rs.2570</h5> 
        <!-- <h6 class="card-subtitle mb-2 text-muted"><s>Rs.3000</s><i> |  Save 85%     </i></h6> -->
        <h6 class="card-subtitle  text-muted"><s class="ap">Rs.3000</s> <i> You save : Rs.430  |  (85%) </i></h6>
            
        <p class="card-text"><i>Inclusive of all taxes </i></p>
        
        <h6>  In-Stock </h6>
        <div class="chip">
          <h6 class="type chiptext">Paperback</h6>
         
        </div>
        <div class="chip">
          <h6 class="type chiptext">Video</h6>
         
        </div>
        <div class="chip">
          <h6 class="type chiptext">e-book</h6>
         
        </div>
        <div class="chip">
          <h6 class="type chiptext">Paperback + Video</h6>
         
        </div>
        <div class="chip">
          <h6 class="type chiptext">Video+e-book</h6>
         
        </div>


           
        <form class="form-inline">
          <div class="form-group">
            <label for="quantity" class="qty mr-2">Quantity:</label>
  <input type="number" id="quantity" name="quantity" min="1" max="1000" step="1" value="30">
  
          </div>
          
          
        </form>
              <!-- <form>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder=" Quantity">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                      <i class="glyphicon glyphicon-search"></i>
                      <button type="submit" class="btn actbtn ml-5 mr-2">Submit</button> 
                    </button>
                  </div>
                </div>
              </form> -->
              <hr>
              <div class="row">
                <div class="col-md-12 ml-5 align-items-center">
                  <button type="submit" class="btn addtocart  ml-5 mr-2">Add to Cart</button> 
                  <button type="submit" class="btn buynow ">Buy Now</button> 
                
                </div>
              </div>
              
              
      </div>
    </div>
<!--------------------------Card finish------------------->
<hr>
<div class="container"><h1>Bootstrap  tab panel example (using nav-pills)  </h1></div>
<div id="exTab1" class="container">	
<ul  class="nav nav-pills">
			<li class="active">
        <a  href="#ha" data-toggle="tab">Overview</a>
			</li>
			<li><a href="#pa" data-toggle="tab">Using nav-pills</a>
			</li>
			<li><a href="#ca" data-toggle="tab">Applying clearfix</a>
			</li>
  		<li><a href="#da" data-toggle="tab">Background color</a>
			</li>
		</ul>

			<div class="tab-content clearfix">
			  <div class="tab-pane active" id="ha">
          <h3>Content's background color is the same for the tab</h3>
				</div>
				<div class="tab-pane" id="pa">
          <h3>We use the class nav-pills instead of nav-tabs which automatically creates a background color for the tab</h3>
				</div>
        <div class="tab-pane" id="ca">
          <h3>We applied clearfix to the tab-content to rid of the gap between the tab and the content</h3>
				</div>
          <div class="tab-pane" id="da">
          <h3>We use css to change the background color of the content to be equal to the tab</h3>
				</div>
			</div>
  </div>





<div class="row">
  <div class="col-md-12 mt-4">
  
<!--     
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
    </div> -->
    <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pdes-tab" data-bs-toggle="tab" data-bs-target="#ProductDescription" type="button" role="tab" aria-controls="ProductDescription" aria-selected="true">Product Description</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="productdetail-tab" data-bs-toggle="tab" data-bs-target="#ProductDetails" type="button" role="tab" aria-controls="Product Details" aria-selected="false">Product Details</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#Reviews" type="button" role="tab" aria-controls="Reviews" aria-selected="false">Reviews</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="video-tab" data-bs-toggle="tab" data-bs-target="#Videos" type="button" role="tab" aria-controls="Videos" aria-selected="false">Videos</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="ProductDescription" role="tabpanel" aria-labelledby="pdes-tab">
        
        Mr Anu Sharma (author) has taught thousands of students in last 20 years and he has developed very easy method to learn spoken English
        This book is very much useful for English/Hindi medium schools for students as well as teachers.
SET OF 1 BOOK + I VCD + I MEMORY / REVISION CHART 

In this book you will learn
 TYT (Twist Your Tongue method to Speak English Fluently)
 Direct-Method i.e. situational method (No need to learn Translation) Tense = Tension. New Three Pillar system
 All lessons with complete conversational practice and Exercise
Three Imperative sentences in each lesson. So total 180 sentences. (a book) 
 Define every difficult word More than 1000 words which use in daily life situation
 Learn with fun puzzles to enrich Vocabulary
 Covered mostly topics of Spoken & Written English
A special topic on Hesitation during Spoken English
Real life conversation....& many more
Watch free videos & learn spoken English on our Youtube channel anu english academy & subscribe it
      
      
      </div>
      <div class="tab-pane fade" id="ProductDetails" role="tabpanel" aria-labelledby="productdetail-tab">
        Publisher ‏ : ‎ ANU"S ENGLISH ACADEMY; 2nd edition (1 January 2012); ANU"S ENGLISH ACADEMY Agra 282001 Utter Pradesh India
Language ‏ : ‎ English
Paperback ‏ : ‎ 336 pages
ISBN-10 ‏ : ‎ 8192755622
ISBN-13 ‏ : ‎ 978-8192755625
Reading age ‏ : ‎ 10 years and up
Item Weight ‏ : ‎ 400 g
Country of Origin ‏ : ‎ India

      </div>
      <div class="tab-pane fade" id="Reviews" role="tabpanel" aria-labelledby="review-tab">...</div>
      <div class="tab-pane fade" id="Videos" role="tabpanel" aria-labelledby="video-tab">...</div>
    </div> -->

  </div>
</div>   
     
</div>
 <!------------------------2nd Column-ends---------------------------------->
    
   </div> 
   <!-------------------------Row Ends--------------------------------->
   </div>
</section>

    

 