

<!--------- Product Page 
  DOS : 06/01/2022
  Time : 19.12
  Reference Sites:

https://www.practicalecommerce.com/Create-Responsive-Ecommerce-Product-Pages-with-Bootstrap
Thumbnails carousel  https://mdbootstrap.com/docs/angular/advanced/carousel/#thumbnails-carousel



--->


<!-- <section id="product" class="h-100">

  <div class="container" id="product-section">
    <div class="row">
     <div class="col-md-6">
      … [this is the product image]
     </div>
     <div class="col-md-6">
      …[this is the product information]
     </div>
    </div>
   </div> 


</section>--->


    
 <section id="product" class="h-100">

  <div class="container" id="product-section">
      
  <h3 class="mt-4 escheader">English Speaking Courses 
  <span><div class="btn-group ml-4" role="group" aria-label="Basic example">
    
  </div>
</span>
</h3>

<hr>

  <!-------------------------Row Starts---------------------------------->
    <div class="row ">
     <!------------------------left Col starts---------------------------------->
     <div class="col-md-5 pr-2 ">
     <!-- Images-->
     <div><ng-image-slider [images]="mainpic"  [imageSize]="{width: '100%', height: 500}" #nav></ng-image-slider></div>
     <div><ng-image-slider #nav [images]="test" [infinite]="true" [imageSize]="{width: '100px', height: '100px'}"></ng-image-slider></div>
 <!----- Image div starts------->


     </div>

 <!----- Image Div ends------->

<!-------------------------Ist Col ends---------------------------------->
<!------------------------2nd Column-starts---------------------------------->
<div class="col-md-7 mt-4 ">
      <div class="row">
        <div class="col-md-12">
          <a href="#" class="mr-3">Basic</a>
          <a href="#">Advance</a>
          <hr>  
          <h3 class="pro_mesc_head"> My English Friend</h3>
          <h6 class ="pro_mesc_author">  <i> by Devender Kumar Sharma alias Anu Sharma (Author)</i></h6>
       </div>
      </div>

      <!-- /Rating -->
        <div class="row">
         <div class="col-md-3">
        <span>
        <ul class="list-unstyled list-inline mb-2 pro_star">
        
          <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"> </i></li>
          <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
          <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
          <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
          <li class="list-inline-item"><i class="fa fa-star-half-alt fa-xs"></i></li>
        </ul>
      </span>
    </div> 
    <div class="col-md-3">
      <span class="monospaced"><a>Write a Review </a></span>
     </div>
    </div>
 
    <!-------------CARD for price------------------------------------------------->

    <!-- <div class="card" ">style="width: 35rem; margin:left; padding-left:20px; -->
      <div class="card">
      <div class="card-body">

        <h5 class="card-title">Rs.2570</h5> 
        <!-- <h6 class="card-subtitle mb-2 text-muted"><s>Rs.3000</s><i> |  Save 85%     </i></h6> -->
        <h6 class="card-subtitle  text-muted"><s class="ap">Rs.3000</s> <i> You save : Rs.430  |  (85%) </i></h6>
            
        <p class="card-text"><i>Inclusive of all taxes </i></p>
        
        <h6>  In-Stock </h6>
        <div class="chip">
          <h6 class="type chiptext">Paperback</h6>
         
        </div>
        <div class="chip">
          <h6 class="type chiptext">Video</h6>
         
        </div>
        <div class="chip">
          <h6 class="type chiptext">e-book</h6>
         
        </div>
        <div class="chip">
          <h6 class="type chiptext">Paperback + Video</h6>
         
        </div>
        <div class="chip">
          <h6 class="type chiptext">Video+e-book</h6>
         
        </div>


           
        <form class="form-inline">
          <div class="form-group">
            <label for="quantity" class="qty mr-2">Quantity:</label>
  <input type="number" id="quantity" name="quantity" min="1" max="1000" step="1" value="30">
  
          </div>
          
          
        </form>
              <!-- <form>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder=" Quantity">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                      <i class="glyphicon glyphicon-search"></i>
                      <button type="submit" class="btn actbtn ml-5 mr-2">Submit</button> 
                    </button>
                  </div>
                </div>
              </form> -->
              <hr>
              <div class="row">
                <div class="col-md-12 ml-5 align-items-center">
                  <button type="submit" class="btn addtocart  ml-5 mr-2">Add to Cart</button> 
                  <button type="submit" class="btn buynow ">Buy Now</button> 
                
                </div>
              </div>
              
              
      </div>
    </div>
<!--------------------------Card finish------------------->
<hr>





<div class="row">
  <div class="col-md-12 mt-4">

  </div>
</div>   
     
</div>
 <!------------------------2nd Column-ends---------------------------------->
    
   </div> 
   <!-------------------------Row Ends--------------------------------->
   </div>
</section>


<!------------------------------------------------------------------------------------------>

<!-- Bootstrap CSS -->
<!-- jQuery first, then Bootstrap JS. -->
<!-- Nav tabs -->
<!-- 
<section id="pdetail" class="h-100">

<div class="container" id="detail-section">

<div class="row">
<div class="col-12">

    

</div>
</div>
</div>
</section>   -->
<section id="pdetail" class="h-100">

<div class="container" id="detail-section">

 
<!-- <tabset>
  <tab heading="Home1">Home1</tab>
  
  <tab *ngFor="let tabz of tabs"
     [heading]="tabz.title"
     [active]="tabz.active"
     (selectTab)="tabz.active = true"        
     [disabled]="tabz.disabled">
     {{tabz?.content}}
  </tab>
</tabset> -->

<my-tabs [buttonClass]="'md-pills pills-primary font-weight-bold'" >
  <my-tab [tabTitle]="'Product Description'">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" style="color:purple">Product Description</h4> 
        <span style="color:rgba(0, 0, 0, 0.753);" [innerHTML]="toHTML(description)"></span>
 
      </div>
     
      </div>
  </my-tab>
  <my-tab tabTitle="Product Details">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" style="color:purple">Product Details</h4> 
        <span style="color:rgba(0, 0, 0, 0.753);" [innerHTML]="toHTML(details)"></span>
       
      </div>
     
      </div>
    
  </my-tab>

  <my-tab tabTitle="Product Reviews">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" style="color:purple">Reviews</h4> 

      </div>
     
      </div>
    
  </my-tab>
</my-tabs>
 </div>
</section> 
<!--------------------------------------------------------------------------------------------->
<!---- Product Component CSS------------------->

