<!-----Contact Us  section--
    
    
    Copied from register component.
    Replace in css:
    r to cu e.g. 
    rleft-Side to cu 

---->


<!----------SECTION 2-----banner section------------
One Row Two Columns 
--->
<!-- <div class="hero-image">
   <img class="cupic" src="assets/images/contact1.jpg">
    <div class="hero-text">

      <h1>I am John Doe</h1>
      <p>And I'm a Photographer</p>
      <button>Hire me</button>
    </div>
  </div> -->

<section id="banner">

    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h2 class="  cuoutext mt-3 pt-3">Contact Us</h2> <br>

                <img class="bannerimg" src="src/assets/images/contact.jpg">

            </div>


        </div>
    </div>

</section>

<section id="input">
    <div class="container mb-4">
        <div class="row">
            <div class="col-md-12 mt-4">
                <h2 class="cuoutext mt-3 pt-3">Personal Details</h2>
                <div class="contact-form cinput p-4">
                    <!-- Form Started -->
                    <form class="">

                        <!----Row starts-->
                        <div class="row align-center">
                            <!-- Signup Column Starts from here  -->
                            <div class="col-md-6 formin">
                                <div class="form-group">
                                    <!-- Unique ID starts -->
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>

                                <!-- Unique ID ends -->
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="emailaddress">
                                </div>
                                <div class="form-group">
                                    <input mdbInput name="uid" formControlName="uid" class="form-control"
                                        placeholder="Country">
                                </div>

                                <div class="form-group">
                                    <input mdbInput name="uid" formControlName="uid" class="form-control"
                                        placeholder="State">
                                </div>
                                <textarea class="help" cols="60" name="comments"
                                    rows="5">How can we help you?</textarea><br />

                            </div>
                            <div class="col-md-6 formin">

                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Enter Mobile Number">
                                </div>
                                <div class="form-group">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Facebook URL">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!-- Email input -->

                                    <!-- <input type="email" id="form5Example2" class="form-control" /> -->
                                    <div class="row">
                                        <div class="col">
                                            <select
                                                class=" form-control custom-select custom-select-sm menu align-items-md-start">
                                                <option selected>Open this select menu</option>
                                                <option value="1">Student</option>
                                                <option value="2">Professional</option>
                                                <option value="3">Housewife</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- Unique ID ends -->
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Place">
                                </div>


                            </div>





                        </div> <!-- Signup Column ends here  -->






                    </form>
                    <!---Form ended-->
                    <div class="form-group row">
                        <div class="col-md-12 text-center">
                            <div class="cuwrap  mt-4">
                                <button type="submit" class="cubtn cuactbtn  mr-2">Submit</button>
                                <button type="submit" class="cubtn cuactbtn ml-2">Cancel</button>

                            </div>

                        </div>
                    </div>

                </div> <!-- Signup Column ends here  -->

            </div>


        </div>
    </div>

</section>

<section id="location">

    <div class="container clocation">
        <div class="row">
            <div class="col-md-12">
                <!-- <div class="culogin-main-text"> -->

                <!-- <img class="cupic mt-4 ml-5 mb-4 " style="align-items: center;" src="assets/images/contact.jpg"> -->
                <h2 class="cuoutext mt-3 mb-4 text-left">Contact Details</h2>
                <!-- <div class="container d-flex justify-content-center mt-100">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body text-center"> <img src="https://img.icons8.com/bubbles/100/000000/laptop.png">
                        <h4>Contact us</h4>
                        <p>Drop us a mail or use our online online chat feature and we will try to answer your query as soon as possible</p> <button class="btn btn-out btn-square"> CONTACT NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
            </div>
        </div>
        <!-- <div class="container mb-4"> -->
        <div class="row mb-4">

            <div class="col-md-4">

                <div class="box-part text-center">
                    <!-- <i class="fas fa-user-graduate fa-3x"></i> -->

                    <i class="fas fa-phone-alt"></i>

                    <div class="title">
                        <h4>Call us</h4>
                    </div>

                    <div class="text">
                        <span>+91-9582340510</span>
                    </div>
                </div>
            </div>

            <div class=" col-md-4 ">

                <div class="box-part text-center">

                    <i class="fas fa-envelope" aria-hidden="true"></i>

                    <div class="title">
                        <h4>Mail drop us</h4>
                    </div>

                    <div class="text">
                        <span>anuenglishacademy@gmail.com</span>
                    </div>



                </div>
            </div>

            <div class="col-md-4">

                <div class="box-part text-center">

                    <i class="fas fa-location-arrow" aria-hidden="true"></i>

                    <div class="title">
                        <h4>Location</h4>
                    </div>

                    <div class="text">
                        <span>Agra - Company Headoffice</span>
                    </div>

                    <!-- <a href="#">Learn More</a> -->

                </div>
            </div>
        </div>
        <!-- </div>          -->
        <!-- <div class="row">
          <div class="col-md-4">
              <h4> Agra Office </h4>
              <h5> Company Headoffice</h5>
              <h6> Raja Mandi , Agra </h6>

          </div>
          <div class="col-md-4">
              <h4> Delhi-NCR Office </h4>
              <h5> Zonal Office</h5>
              <h6> Vasundhara,Ghaziabad </h6>

          </div>
          <div class="col-md-4">
            <h4> Delhi-NCR Office </h4>
            <h5> Zonal Office</h5>
            <h6> Vasundhara,Ghaziabad </h6>

        </div>
      </div> -->

        <span style="display:block;border:10px transparent rgb(247, 242, 242);width:400px;"></span>
        <span style="display:block;border:10px transparent rgb(247, 242, 242);width:400px;"></span>
        <span style="display:block;border:10px transparent rgb(247, 242, 242);width:400px;"></span>

        <h2 class="cuoutext  text-left">Locations</h2>
        <div class="row mt-4">
            <div class="col-md-4">
                <h4> Agra Office </h4>
                <h5> Company Headoffice</h5>
                <h6> Raja Mandi , Agra </h6>

            </div>
            <div class="col-md-4">
                <h4> Delhi-NCR Office </h4>
                <h5> Zonal Office</h5>
                <h6> Vasundhara,Ghaziabad </h6>

            </div>
            <div class="col-md-4">
                <h4> Noida </h4>
                <h5> Franchise Unit</h5>
                <h6> TechZone-IV Greater Noida (West) </h6>

            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h4> Ghaziabad </h4>
                <h5> Franchise Unit</h5>
                <h6> Indirapuram </h6>

            </div>
            <div class="col-md-4">
                <h4> Delhi </h4>
                <h5> Franchise Unit </h5>
                <h6> Kalkaji,Delhi </h6>

            </div>

            <div class="col-md-4">
                <h4> Haryana </h4>
                <h5> Franchise Unit</h5>
                <h6> DLF Ph-3 ,Gurgaon</h6>

            </div>
        </div>
        <hr>

        <div class="row mb-3">
            <div class="col-md-4">
                <h4> South India </h4>
                <h5> Franchise Unit </h5>
                <h6> Hyderabad (Telangana)</h6>

            </div>

            <div class="col-md-4">
                <h4> South India </h4>
                <h5> Franchise Unit </h5>
                <h6> Vishakhapatnam (A.P)</h6>

            </div>
        </div>

        <!-- <div class="Contact_email_fb">
          <div class="col-md-6">
                  <span class="label"Telephone> +91-9557777553</span>
           </div>
      </div> -->
        <!-- </div> -->

    </div>
</section>
<!-- <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                 <img class="cupic" src="assets/images/contact1.jpg"> -->
<!-- <h1>Bootstrap Tutorial</h1>
                <p>Bootstrap is the most popular HTML, CSS...</p>
                
            </div>
        </div>
     
    </div>
  </div> -->
<!-- <div class="container">
    <div class="row">
        <div class="col-md-12"> -->
<!-- <div class="hero-image">
    <img class="cupic" src="assets/images/contact1.jpg">
    <div class="hero-text">

      <h1>I am John Doe</h1>
      <p>And I'm a Photographer</p>
      <button>Hire me</button>
    </div>
  </div> -->
<!--   
<header class="main-header" role="banner">
  <img src="assets/images/contact1.jpg" alt="Banner Image"/>
</header>
  </div>
  </div>
  </div>
   -->