<p>contactus works!</p>
<!-----Contact Us  section--
    
    
    Copied from register component.
    Replace in css:
    r to cu e.g. 
    rleft-Side to cu 

---->


<!----------SECTION 2-----banner section------------
One Row Two Columns 
--->
<section id="banner">
	
	<div class ="container">
	<div class = "row">
    
    <div class="col-md-12 ">
      <h2 class=" cuoutext mt-4 ">Contact Us</h2> <br>

      <img class="bannerimg" src="assets/images/contact1.jpg">  
    </div>
    

	</div>
  </div>

	</section>
  <section id="input">
	
    <div class = "container cinput">
    <div class = "row">
  
      <div class="col-md-12 mt-4">
        <div class="contact-form ">
          <!-- Form Started -->
          <form class="">
              
              <!----Row starts-->
              <div class="row">
                  <!-- Signup Column Starts from here  -->
                  <div class="col-md-8 formin ">
                      
                      <div class="form-group ">
                          <!-- Unique ID starts -->
                          <input type="text" class="form-control" placeholder="Name">
                      </div>

                      <div class="form-group ">
                          <input class="form-control" type="text" placeholder="Enter Mobile Number">
                      </div>
                      <!-- Unique ID ends -->
                      <div class="form-group ">
                          <input type="text" class="form-control" placeholder="emailaddress">
                      </div>
                      
                      <div class="form-group ">
                          <!-- Email input -->
                          <label class="goutext2 col-form-label mb-2">Profession</label>
                          <!-- <input type="email" id="form5Example2" class="form-control" /> -->
                          <div class="row">
                              <div class="col ">
                                  <select class="custom-select custom-select-sm menu align-items-md-start">
                                      <option selected>Open this select menu</option>
                                      <option value="1">Student</option>
                                      <option value="2">Professional</option>
                                      <option value="3">Housewife</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                      <div class="form-group ">
                          <input mdbInput name="uid" formControlName="uid" class="form-control"
                              placeholder="Location">
                      </div>
                      <textarea cols="60" name="comments" rows="5">How can we help you?</textarea><br />
                      <div class="form-group row">
                          <div class="col-md-12">
                              <div class="rwrap  mt-4">
                                  <button type="submit" class="btn actbtn  mr-2">Submit</button>
                                  <button type="submit" class="btn actbtn ml-2">Cancel</button>

                              </div>

                          </div>
                      </div>

                  </div>



                


              </div> <!-- Signup Column ends here  -->


              



          </form>
          <!---Form ended-->

      </div> <!-- Signup Column ends here  -->

      </div>
      
  
    </div>
    </div>
  
    </section>

    <section id="location">
	
      <div class = "container clocation">
      <div class = "row">
    
        <div class="col-md-12 ">
    <div class="culogin-main-text ">

      <img class="cupic mt-4 ml-5 mb-4 " style="align-items: center;" src="assets/images/contact.jpg">

      <h2 class="cuwelcome mt-3 text-left">Locations</h2>
      <div class="row">
          <div class="col-md-6">
              <h4> Agra Office </h4>
              <h5> Company Headoffice</h5>
              <h6> Raja Mandi , Agra </h6>

          </div>
          <div class="col-md-6">
              <h4> Delhi-NCR Office </h4>
              <h5> Zonal Office</h5>
              <h6> Vasundhara,Ghaziabad </h6>

          </div>
      </div>
      <hr>
      <div class="row">
          <div class="col-md-6">
              <h4> Noida </h4>
              <h5> Franchise</h5>
              <h6> TechZone-IV Greater Noida (West) </h6>

          </div>
          <div class="col-md-6">
              <h4> Ghaziabad </h4>
              <h5> Franchise</h5>
              <h6> Indirapuram </h6>

          </div>
      </div>
      <hr>
      <div class="row">
          <div class="col-md-6">
              <h4> Delhi </h4>
              <h5> Franchise </h5>
              <h6> Kalkaji,Delhi </h6>

          </div>

          <div class="col-md-6">
              <h4> Haryana </h4>
              <h5> Franchise </h5>
              <h6> DLF Ph-3 ,Gurgaon</h6>

          </div>
      </div>
      <hr>

      <div class="row">
          <div class="col-md-6">
              <h4> South India </h4>
              <h5> Franchise </h5>
              <h6> Hyderabad (Telangana)</h6>

          </div>

          <div class="col-md-6">
              <h4> South India </h4>
              <h5> Franchise </h5>
              <h6> Vishakhapatnam (A.P)</h6>

          </div>
      </div>

      <div class="Contact_email_fb">
          <div class="col-md-6">
                  <span class="label"Telephone> +91-9557777553</span>
           </div>
      </div>
  </div>
        </div>
        </div>
        </div>
        </section>
<!-- <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                 <img class="cupic" src="assets/images/contact1.jpg"> -->
                <!-- <h1>Bootstrap Tutorial</h1>
                <p>Bootstrap is the most popular HTML, CSS...</p>
                
            </div>
        </div>
     
    </div>
  </div> --> 
  <!-- <div class="container">
    <div class="row">
        <div class="col-md-12 "> -->
  <!-- <div class="hero-image">
    <img class="cupic" src="assets/images/contact1.jpg">
    <div class="hero-text">

      <h1>I am John Doe</h1>
      <p>And I'm a Photographer</p>
      <button>Hire me</button>
    </div>
  </div> -->
<!--   
<header class="main-header" role="banner">
  <img src="assets/images/contact1.jpg" alt="Banner Image"/>
</header>
  </div>
  </div>
  </div>
   -->
  