<!-- SECTION 5----Footer -->


<section id="footer">
	<!-- Container starts here -->
	<div class ="container">
		<!-- Row Starts here -->
		<div class = "footerbox row">
            <div class="col-md-4">
            <ul class="foote_bottom_ul_amrc text-left">
                <li><a href="">Our Centers</a></li>
                <li><a href="">Support</a></li>
                <li><a href="">Blog</a></li>
                
                </ul>
			
            </div>
            <div class="col-md-6">
                <ul class="foote_bottom_ul_amrc text-center">
                    
                    <li><a href="">E:anuenglishacademy@gmail.com</a></li>
                    <li><a href="">M: #9557777553</a></li>
                   
                    </ul>
                
                </div>
                <div class="col-md-2">
                    <ul class="foote_bottom_ul_amrc text-right">
                        
                       
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    
                    </div>

            <!-- </div>
			</div> col Ends -->
		</div> <!-- Row Ends -->

	</div> <!-- Container End  -->

</section> <!-- Section Ends -->