<section id="title" class="main-header">
  <div class="container">

  <!-- Nav Bar -->
  <nav class="navbar  navbar-expand-lg navbar-light pl-0 pr-0">
    <span class="navbar-brand"><img class="logogif"  src="assets/images/anu-aca-logo.gif"></span>
     
      <div class="collapse navbar-collapse shift" id="navbarTogglerDemo02">

      <ul class="navbar navbar-nav ml-auto  ">
         
          
          <li class="nav-item active home">
              <a class="nav-link" href="">Home</a>
          </li>
           <!-- <li class="nav-item home1"> -->
              <!-- <a class="nav-link" href="">Courses</a> -->
              <li class="nav-item  dropdown home1">
                <a class="nav-link dropdown-toggle cc" data-bs-toggle="dropdown"> Courses  </a>
                  <ul class="dropdown-menu fade-up">
                  <li><a class="dropdown-item" > English Speaking Courses &raquo;</a>
                          <ul class="submenu dropdown-menu">
                              <!-- <li><a class="dropdown-item" href="#">Basic </a></li> -->
                              <li><a class="dropdown-item" (click) = routeWithQueryParams($event)>Basic</a></li>
                              <!-- <li><a class="dropdown-item" routerLinkActive="active" [routerLink]="['/product']" [queryParams]="{ id: 2}">Basic </a></li> -->
                              <!-- Added by sid on 1/1/2022 for router link to various products -->
                              <!-- <li><a class="dropdown-item" href="#">Basic to Advance</a></li> -->
                              <li><a class="dropdown-item" [routerLink]="['/product']" [queryParams]="{ id: 1}">Basic to Advance</a></li>
                          </ul>
                  </li>
                  <li><a class="dropdown-item" > Handwriting Improvement &raquo; </a>
                    <ul class="submenu dropdown-menu">
                      <!-- <li><a class="dropdown-item" href="#">English</a></li> -->
                      <!-- <li><a class="dropdown-item" [routerLink]="['/product']" [queryParams]="{ id: 3}">English</a></li> -->
                      <li><a class="dropdown-item" (click) = routeWithQueryParams($event)>English</a></li>
                      <!-- <li><a class="dropdown-item" [routerLink]="['/product']" [queryParams]="{ id: 6}">Hindi</a></li> -->
                      <li><a class="dropdown-item" (click) = routeWithQueryParams($event)>Hindi</a></li>
                      <li><a class="dropdown-item" (click) = routeWithQueryParams($event)>Sanskrit</a></li>
                      <li><a class="dropdown-item" (click) = routeWithQueryParams($event)>Marathi</a></li>
                      <!-- <li><a class="dropdown-item" [routerLink]="['/product']" [queryParams]="{ id: 4}">Sanskrit</a></li>
                      <li><a class="dropdown-item" [routerLink]="['/product']" [queryParams]="{ id: 5}">Marathi</a></li> -->
                  </ul>
                  </li>
                  <li><a class="dropdown-item"> Language Learning Course &raquo;</a>
                   <ul class="submenu dropdown-menu">
                      <!-- <li><a class="dropdown-item" href="#">Hindi</a></li> -->
                      <li><a class="dropdown-item" [routerLink]="['/product']" [queryParams]="{ id: 8}">Hindi</a></li>
                      <!-- <li><a class="dropdown-item" href="#">English Grammar</a></li> -->
                      <li><a class="dropdown-item" [routerLink]="['/product']" [queryParams]="{ id: 7}">English Grammar</a></li>
                  </ul>
                  
                  </li>
                  </ul>
                
              </li>
          <!-- </li> -->
           <li class="nav-item ">
              <a class="nav-link" href="">Live Class</a>
          </li>
           <li class="nav-item ">
              <a class="nav-link" href="">Be our Partner</a>
          </li>
          
           <li class="nav-item ">
              <!-- <a class="nav-link" href="">Contact us</a> -->
              <a class="nav-link" [routerLink]="['/footer']">Contact us</a>
          </li>
          <li class="nav-item dropdown">
            <!-- <a class="nav-link" href="">My Learning</a> -->
            <a class="nav-link dropdown-toggle cc d-flex align-items-center" data-bs-toggle="dropdown"> <i
                class="nav-link sb fas fa-graduation-cap fa-1x"></i></a>
            <ul class="dropdown-menu fade-up  ml-auto">
            <li><a class="dropdown-item" > Basic</a> </li>
            <li><a class="dropdown-item" >Basic to Advance</a> </li>
            </ul>
            <!-- <i class="nav-link sb fab fa-accusoft"></i> -->
            <!-- <div class="myDIV">
            <i class="nav-link sb fas fa-graduation-cap fa-1x "></i>
            </div>
            <div class="hide">My Learning</div> -->

           </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  Hover me  </a>
              <ul class="dropdown-menu fade-up">
              <li><a class="dropdown-item" href="#"> Submenu item 1</a></li>
              <li><a class="dropdown-item" href="#"> Submenu item 2 </a></li>
              <li><a class="dropdown-item" href="#"> Submenu item 3 </a></li>
              </ul>
          </li> -->
          <li class="nav-item ">
            <i class="nav-link sb fas fa-shopping-basket fa-1x "></i>
            
          </li> 
          <li class="nav-item pr-0">
          <button type="button" class="btnsignin" (click) = routeWithQueryParams($event)>Log in</button> 
        </li>
      </ul>
     
     
    
      </div>


  </nav>
  
  <!-- <span style="display:block;border:1px solid whitesmoke;width:50px;"></span> --> 
  </div>
</section>

<!-- 
<section id="title" class="main-header">
  <div class="container">

  <!-- Nav Bar!!!
  <nav class="navbar navbar-expand-lg navbar-light">
    <span class="navbar-brand"><img class="logogif"  src="assets/images/anu-aca-logo.gif"></span>
     
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

      <ul class="navbar navbar-nav ml-auto">
         
          
          <li class="nav-item active">
              <a class="nav-link" href="">Home</a>
          </li>
           <li class="nav-item ">
              <a class="nav-link" href="">Courses</a>
          </li>
           <li class="nav-item ">
              <a class="nav-link" href="">Live Class</a>
          </li>
           <li class="nav-item ">
              <a class="nav-link" href="">Be our Partner</a>
          </li>
           <li class="nav-item ">
              <a class="nav-link" href="">Contact us</a>
          </li>
          <li class="nav-item ">
            <i class="nav-link sb fas fa-shopping-basket"></i>
            
          </li>
          <li class="nav-item ">
          <button type="button" class="btnsignin">Sign in</button> 
        </li>
      </ul>
     
     
    
      </div>


  </nav>
  
  !!!-- <span style="display:block;border:1px solid whitesmoke;width:50px;"></span> !!!
  </div>
</section> -->