

<!--Section: Block Content---->

<section class="mb-5" style="background-color: #ffffff;">
  <div class="container-fluid  py-5 h-100">
    <div class="small-container">
    <div class="row">
      <div class="col-md-3">

        <div class="card">
          
          <!------<img src="../../../assets/images/MEF1.jpg"	alt="example"
          class="img-fluid rounded pimg" style="border-top-left-radius: .1rem; border-top-right-radius: .1rem;" alt="Sample photo">
          -->
          <div class="view zoom overlay z-depth-2 rounded">
            <img class="img-fluid w-100 mef"
              src="../../../assets/images/MEF1.jpg" alt="Sample">
           

          </div>
          </div>


          <span style="display:block;border:5px solid rgb(238, 233, 233);width:400px;"></span>
<!---------------------------------------------------------------------Image card starts--->



  





<!---------------------------------------------------------------------Image card starts--->
 <!-- Grid column -->
 
 <div class="card" style="width: 5rem;">
  <img src="../../../assets/images/MEF1.jpg" class="card-img-top" alt="...">
  
</div>
<span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
<!-- Grid column -->
 
<div class="card" style="width: 5rem;">
  <img src="../../../assets/images/MEF_Back.jpg" class="card-img-top" alt="...">
  
</div>
<span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
<!-- Grid column -->
 
<div class="card" style="width: 5rem;">
  <img src="../../../assets/images/MEF2.jpg" class="card-img-top" alt="...">
  
</div>
<span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
<!-- Grid column -->
 
<div class="card" style="width: 5rem;">
  <img src="../../../assets/images/MEF3.jpg" class="card-img-top" alt="...">
  
</div>
<span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
<!-- Grid column -->
 
<div class="card" style="width: 5rem;">
  <img src="../../../assets/images/MEF4.jpg" class="card-img-top" alt="...">
  
</div>
<span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
<!-- Grid column -->
 
<div class="card" style="width: 5rem;">
  <img src="../../../assets/images/MEF5.jpg" class="card-img-top" alt="...">
  
</div>
<span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
<!-- Grid column -->
 
<div class="card" style="width: 5rem;">
  <img src="../../../assets/images/MEF6.jpg" class="card-img-top" alt="...">
  
</div>
<span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
<!-- Grid column -->
 
<div class="card" style="width: 5rem;">
  <img src="../../../assets/images/MEF7.jpg" class="card-img-top" alt="...">
  
</div>
<span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
<!-- Grid column -->
 
<div class="card" style="width: 5rem;">
  <img src="../../../assets/images/MEF8.jpg" class="card-img-top" alt="...">
  
</div>
<span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
<!-- Grid column -->
 
<div class="card" style="width: 5rem;">
  <img src="../../../assets/images/MEF9.jpg" class="card-img-top" alt="...">
  
</div>
<span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>






















          <!---------------------------------------------------------------------Image card end-->
      </div>
      <div class="col-md-6" style="align:justify-content-center">
        <h1 style= "color: purple;">My English Friend </h1>
        <h6 style= "font-family:Verdana, Geneva, Tahoma, sans-serif; color: purple;"> <i> by Devender Kumar Sharma alias Anu Sharma (Author)</i></h6>
       
                <div class="col-md-3">
                <span>
                <ul class="list-unstyled list-inline mb-2">
                  <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"> </i></li>
                  <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                  <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                  <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                  <li class="list-inline-item"><i class="fa fa-star-half-alt fa-xs"></i></li>
                </ul>
              </span>
            </div>
         
            <!-------------CARD for price------------------------------------------------->

            <div class="card" style="width: 35rem; margin:left; padding-left:20px;">
              <div class="card-body">

                <h5 class="card-title">Rs.2570</h5> 
                <h6 class="card-subtitle mb-2 text-muted"><s>Rs.3000</s><i> |  Save 85%     </i></h6>
                <h6> Paperback </h6>
                             
                <div class="chip" style="background-color: purple; color:whitesmoke;padding: 5px; align:center">
                  <h6>  Video  </h6>
                </div>
                <div class="chip" style="background-color: purple; color:whitesmoke; padding: 5px; align:center">
                    <h6>  e-book  </h6>
                </div>
                <div class="chip" style="background-color: purple; color:whitesmoke;padding: 5px; align:center">
                    <h6>  Paperback + Video  </h6>
                </div>
                <div class="chip" style="background-color: purple; color:whitesmoke; padding: 5px; align:center">
                      <h6>  Video+e-book  </h6>
                </div>    
                             
              </div>
            </div>

            <!----------------------------------->
              <!-------------Description-->
              <div class="card" style="width: 65rem;">
                <div class="card-body">
                  <h5 class="card-title" style="color:purple">Description</h5> 
                  <p style="color:black"> 
                    This is primary to advance level course to learn spoken & written English
                    
                    in this you will learn:
                  </p>
                  * TYT (Twist /Train Your Tongue method to Speak English Fluently).
                  <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
                  * Direct-Method i.e. situational method. (No need to learn Translation) Tense = Tension.
                  <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
                  * Game of five. Five points system (To learn spoken English easily).
                  <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
                  * Complete list of Short form for Spoken & Written English.
                  <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>     
                  * Phonetics of Short forms for fluency.
                  <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
                    * Complete list of Negative Short forms for Spoken & Written English.
                    <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
                    * List of Short words which Speaks & write oftenly e.g. want to, wannna, don’t know Dunno.
                    <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
                    * All lessons with complete conversational practice and Exercise.
                    <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span> 
                    * Three Imperative sentences in each lesson. So total 180 sentences. (a book)
                    <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
                    * Define every difficult word.
                    <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span> 
                    * More than 1000 words which use in daily life situation.
                    <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
                    * Learn with fun puzzles to enrich Vocabulary.
                    <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span> 
                    * Special attention to improve Pronunciation (Phonetics).
                    <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span> 
                    * Covered all topics of Spoken & Written English.
                    <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span> 
                    * A special topic on Hesitation during Spoken English.
                    <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span> 
                    * A special topic on ‘Divide & Rule’ method which can be applied in Spoken English to speak fluently and confidently.
                    <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
                    * Some very practical tips to be Master in Spoken & Written English.
                    <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span> 
                    * More than hundred Vocabulary figures to understand easily.
                    <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
                    * Topic ‘Don’t speak it’ (The common mistakes which we make very often during 
                  
                      Spoken & Written English Medium of learning is Hindi
                      <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
                      <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>

                    <h5 style =" color: purple">
                    Watch free videos & learn spoken English on our Youtube channel <i><strong>Anu English Academy</strong></i> & subscribe it
                    
                  </h5>
                  
                </div>
               
                </div>
<!-------------------------------------2nd card-->

<!-------------Description-->
<div class="card" style="width: 65rem;">
  <div class="card-body">
    <h4 class="card-title" style="color:purple">Product Details</h4> 
   
    <b> Publisher ‏ : ‎ ANU'S ENGLISH ACADEMY; 4th edition (1 January 2005); ANU'S ENGLISH ACADEMY Agra 282002 Uttar Pradesh India</b>
  
    <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
    Language ‏ : ‎ English
    <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
    Paperback ‏ : ‎ 272 pages <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
    ISBN-10 ‏ : ‎ 9351262561<span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
    Reading age ‏ : ‎ 7 years and up <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
    Item Weight ‏ : ‎ 358 g <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
    Dimensions ‏ : ‎ 22 x 2.7 x 27 cm <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
    Country of Origin ‏ : ‎ India <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
    Generic Name ‏ : ‎ Books <span style="display:block;border:1px solid rgb(255, 255, 255);width:20px;"></span>
    
  </div>
 
  </div>









            <!------------------------------>
        </div>  


      <div class="col-md-3" style=" margin:left; padding-left:250px; padding-bottom:200px;margin-bottom: 100px;">
        
        
        <div class="card" style="width:250px; margin-bottom: 100px;">
          <div class="card-body">
            <h4 class="card-title" style="color:purple; align:justify-content-center; "><b>Rs.2570</b></h4>
            <h6> M.R.P : <s>Rs.3000</s></h6>
            <h6 class="card-subtitle mb-2 text-muted">You save : Rs.430  |  (85%) </h6>
            
            <p class="card-text">Inclusive of all taxes</p>
            <p class="card-text">In-Stock</p>

            <td class="pl-0">
            
            <div class="def-number-input number-input safari_only mb-0"> <!-- w-100"---->
              <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
              class="btncntr plus increase">+</button>
              
              <input class="quantity" min="0" name="quantity" value="1" type="number">
             

                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                class="btncntr minus decrease" color="white">-</button>
            </div>
          </td>

            <small id="passwordHelpBlock" class="form-text text-muted text-center">
              (Note, 1 piece)
            </small>
            






            <p class="card-text">Sold by Anu English Academy</p>
           
            <!---<button type="button" class="btn btn-warning" >ADD TO CART</button>--->
            <button type="button" class="btn btn-primary btn-sm mr-1 mb-2"><i
              class="fas fa-shopping-cart pr-2"></i>Add to cart</button>
              <button type="button" class="btn btn-warning btn-sm" style="color:purple">Buy Now</button>
          </div>
        </div>





       </div>
      </div>
     
    </div>
   
  </div>
</section>

<!--Section: Block Content-->