
  <div class="Content">
<accordion [closeOthers]="oneAtATime">
  <accordion-group heading="Header">
    This content is straight in the template.
  </accordion-group>
  <accordion-group heading="Content 1">
    <p>Content 1</p>
  </accordion-group>
  <accordion-group heading="Content 2">
    <p>Content 2</p>
  </accordion-group>
  <accordion-group heading="Content 3">
    <p>Content 3</p>
  </accordion-group>
  <accordion-group heading="Content 4">
    <p>Content 4</p>
  </accordion-group>
  <accordion-group heading="Content 5">
    <p>Content 5</p>
  </accordion-group>
  <accordion-group heading="Content 6">
    <p>Content 6</p>
  </accordion-group>
    <accordion-group heading="Content 7">
    <p>Content 7</p>
  </accordion-group>
</accordion>
</div>
