:host {
  box-sizing: border-box;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 55%;
  float:right;
  background: #ccc;
}

:host.is-open {
  display: block;
}


.Content
{
  height: 399px;
  overflow:auto;
  background:#fff;
}