<!-- MEF -->
<div class="Content">
    <accordion [closeOthers]="oneAtATime">
        <accordion-group [isOpen]="false" #accGroup>
            <span accordion-heading> My English Friend
                <div class="accordionhead">
                    <!-- My English Friend<br> -->
                    Introduction
                    <i class="fa icon"
                        [ngClass]="{'fa-angle-up': accGroup?.isOpen, 'fa-angle-down': !accGroup?.isOpen}"></i>
                </div>
                <h6 class="duration">8 | 40min </h6>
            </span>
            <div class="subhead-panel">

                <p>About the course</p>
                <p>Let’s start </p>
                <p>Fact about English </p>
                <p>What is TYT ? </p>
                <p>Regular | Irregular Verbs</p>
                <p>About Five point system</p>
                <p>Short forms</p>
                <p>Negative Short forms</p>
            </div>
        </accordion-group>
        <!-- Module 1-->
        <accordion-group [isOpen]="false" #accGroup1>
            <span accordion-heading>
                <div class="accordionhead">
                    Module 1
                    <i class="fa icon "
                        [ngClass]="{'fa-angle-up': accGroup1?.isOpen, 'fa-angle-down': !accGroup1?.isOpen}"></i>
                </div>
                <h6 class="duration">11 | 2 hr 35min </h6>
            </span>

            <div class="subhead-panel">

                <p class="mb-1"> Day-1 :- Do /Does <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 16:33 </span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-2 :- Have /Has<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration">12:09 </span>
                </p>

            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-3 :- Did<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration">10:52 </span>
                </p>

            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-4 :- Do Have Did Revision-1<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration">10:55</span>
                </p>

            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-5 :- Will <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration">11:03 </span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-6 :- Are with-ing <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration">9:34 </span>
                </p>
            </div>

            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-7 :- Was with-ing <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 10:06 </span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-7(A) :- Make it’s a point-1 (Practical tips..) <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 05:20 </span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-8 :- Revision-1 (Day-1 to Day-7) <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 49:20 </span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-9 :- Can <br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 10:02 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-10 :- Could<br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp; <span class="duration"> 11:11 </span>
                </p>
            </div>
        </accordion-group>
        <!-- Module 2 -->
        <accordion-group [isOpen]="false" #accGroup2>
            <span accordion-heading>
                <div class="accordionhead">
                    Module 2
                    <i class="fa icon "
                        [ngClass]="{'fa-angle-up': accGroup2?.isOpen, 'fa-angle-down': !accGroup2?.isOpen}"></i>
                </div>
                <h6 class="duration">11 | 2 hr 33min </h6>
            </span>


            <div class="subhead-panel">
                <p class="mb-1"> Day-11 :- Good morning sir-wish words <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 9:37 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-12 :- Have got <br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 11:33 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-13 :- Do you have <br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 15:54 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-14 :- Have to<br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 11:07 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-15 :-Had to <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 11:31</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1">Day-16 :- Will have to <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 12:12 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-16 (A) :- Make it’s a point-2 (Whose)<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 05:43</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-17 :-Revision-2 <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 50:41 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-18 :- Used to <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 10:43 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-19 :- Do + used to <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 8:20 </span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-20 :- Time <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 8:39 </span>
                </p>
            </div>
        </accordion-group>
        <!-- Module 3 -->
        <accordion-group [isOpen]="false" #accGroup3>
            <span accordion-heading>
                <div class="accordionhead">
                    Module 3
                    <i class="fa icon "
                        [ngClass]="{'fa-angle-up': accGroup3?.isOpen, 'fa-angle-down': !accGroup3?.isOpen}"></i>
                </div>
                <h6 class="duration">11 | 2 hr 44min </h6>
            </span>


            <div class="subhead-panel">
                <p class="mb-1"> Day-21 :- Want to<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 9:06</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-22 :- Wanted to <br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 11:20 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-22(A) :- (A) Make it’s a point-3 (Don’t speak it) <br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 02:37 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-23 :- Try to<br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 09:44 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-24 :-Tried to <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 09:36</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1">Day-25 :- Will try to <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 09:50 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-26 :- Revision-3 <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 34:37 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-26(A) :- Make it’s a point-4 (Hesitation) <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 06:56 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-27 :- Have given up <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 09:38 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-28 :- Will give up <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration">10:15 </span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-29 :- Is ,am ,are/was ,were <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 13:29 </span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-30 :- Become <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 22:25</span>
                </p>
            </div>
        </accordion-group>
        <!-- Module 4-->
        <accordion-group [isOpen]="false" #accGroup4>
            <span accordion-heading>
                <div class="accordionhead">
                    Module 4
                    <i class="fa icon "
                        [ngClass]="{'fa-angle-up': accGroup4?.isOpen, 'fa-angle-down': !accGroup4?.isOpen}"></i>
                </div>
                <h6 class="duration">11 | 2 hr 38min </h6>
            </span>


            <div class="subhead-panel">
                <p class="mb-1"> Day-31 :- Should <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 11:49</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-32 :- Should have <br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 13:53 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-33 :- May <br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 05:48 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-34 :- Revision 4<br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 53:54</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-35 :-Short Answer <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 12:11</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1">Day-36 :- Would like to <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration">10:17 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-37 :- Get<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 11:15 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-38 :- Got <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 09:42 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-39 :- Will get <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 08:44 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-40 :- Getting <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration">10:04 </span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-40(A):- Make it’s a point-6 (Mind) <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 06:34 </span>
                </p>
            </div>

        </accordion-group>
        <!-- Module 5-->
        <accordion-group [isOpen]="false" #accGroup5>
            <span accordion-heading>
                <div class="accordionhead">
                    Module 5
                    <i class="fa icon "
                        [ngClass]="{'fa-angle-up': accGroup5?.isOpen, 'fa-angle-down': !accGroup5?.isOpen}"></i>
                </div>
                <h6 class="duration">11 | 3 hr 04min </h6>
            </span>


            <div class="subhead-panel">
                <p class="mb-1"> Day-41 :- Revision-5 <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 26:53 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-42 :- Been <br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 10:44 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-43 :- Go without <br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 08:54</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-44 :- Sick of <br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 8:58</span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-45 :- If you had<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 11:43</span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-45(A):- Make it’s a point-7 (important words)<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 06:47</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1">Day-46 :- Passive <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration">25:34</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-47 :- Get something done<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 19:20</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-48 :- Revision-6 <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 47:13 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-49 :- What / What type <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 16:19 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-50 :- What Time <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration">04:58 </span>
                </p>
            </div>


        </accordion-group>
        <!-- Module 6-->
        <accordion-group [isOpen]="false" #accGroup6>
            <span accordion-heading>
                <div class="accordionhead">
                    Module 6
                    <i class="fa icon "
                        [ngClass]="{'fa-angle-up': accGroup6?.isOpen, 'fa-angle-down': !accGroup6?.isOpen}"></i>
                </div>
                <h6 class="duration">11 | 1 hr 30min </h6>
            </span>


            <div class="subhead-panel">
                <p class="mb-1"> Day-51 :- Where / Which <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 04:50 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-52 :- Who / Why <br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 04:54</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-53 :- How / How often / How far <br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 06:39</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-54 :- Revision-7<br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 22:40</span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-54(A) :- Make it’s a point-8 (Divide & Rule) <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 06:49</span>
                </p>
            </div>
            <hr>
            <h5> Conversations </h5>
            <div class="subhead-panel">
                <p class="mb-1"> Day-55 :- <br>
                    1. &nbsp; How do you go to school ?<br>
                    2. &nbsp; Do you hang out ?<br>
                    3. &nbsp; What type of movie do you like ? <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 04:21</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-56 :- <br>
                    4. &nbsp; Are you learning English ?<br>
                    5. &nbsp; Buying a birthday present ?<br>
                    6. &nbsp; Where is nearest PNB ? <br>
                    7. &nbsp; On the telephone ? <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 07:00</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-57 :- <br>
                    8. &nbsp; On the grocer<br>
                    9. &nbsp; Between two women<br>
                    10. &nbsp; Life of a village<br>
                    11. &nbsp; At the dining table <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 09:22</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-58 :- <br>
                    12. &nbsp; Talk between father and daughter <br>
                    13. &nbsp; Arrival of guest<br>
                    14. &nbsp; At book shop <br>

                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 08:53</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-59 :- <br>
                    15. &nbsp; On the departmental store<br>
                    16. &nbsp; On the railway platform <br>
                    17. &nbsp; In the bank to open an account<br>

                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 06:49</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-60 :- <br>
                    18. &nbsp; Talk between wife and husband<br>
                    19. &nbsp; Talking between two youth about future<br>
                    20. &nbsp; An interview<br>
                    21. &nbsp; An accident <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 09:10</span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-61 :- MySelf<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 01:55</span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Farewell<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 03:11</span>
                </p>
            </div>

        </accordion-group>

        <!-- <accordion-group heading="Header">
        <accordion-heading>
          <mdb-icon fas icon="angle-down"></mdb-icon>
        </accordion-heading>
        This is just some content to illustrate fancy headings.
    </accordion-group> -->
        <!-- <accordion-group heading="Header">
        <mdb-icon fas icon="angle-down"></mdb-icon>
        This content is straight in the template.
      </accordion-group>
      <accordion-group heading="Content 1">
        <p>Content 1</p>
      </accordion-group>
      <accordion-group heading="Content 2">
        <p>Content 2</p>
      </accordion-group>
      <accordion-group heading="Content 3">
        <p>Content 3</p>
      </accordion-group>
      <accordion-group heading="Content 4">
        <p>Content 4</p>
      </accordion-group>
      <accordion-group heading="Content 5">
        <p>Content 5</p>
      </accordion-group>
      <accordion-group heading="Content 6">
        <p>Content 6</p>
      </accordion-group>
        <accordion-group heading="Content 7">
        <p>Content 7</p>
      </accordion-group> -->
    </accordion>
</div>

<!-- MESC -->
<div class="Content">
    <accordion [closeOthers]="oneAtATime">
        <accordion-group [isOpen]="false" #accGroupm>
            <span accordion-heading> Magic English Speaking Course
                <div class="accordionhead">
                    <!-- My English Friend<br> -->
                    Introduction
                    <i class="fa icon"
                        [ngClass]="{'fa-angle-up': accGroupm?.isOpen, 'fa-angle-down': !accGroupm?.isOpen}"></i>
                </div>
                <h6 class="duration">6 | 28mins 24secs </h6>
            </span>
            <div class="subhead-panel">

                <p>About the course</p>
                <p>Let’s start </p>
                <p>Fact about English </p>
                <p>What is TYT ? </p>
                <p>Game of Five </p>
                <p>Regular | Irregular Verbs</p>

            </div>
        </accordion-group>
        <!-- Module 1-->
        <accordion-group [isOpen]="false" #accGroup11>
            <span accordion-heading>
                <div class="accordionhead">
                    Module 1
                    <i class="fa icon "
                        [ngClass]="{'fa-angle-up': accGroup11?.isOpen, 'fa-angle-down': !accGroup11?.isOpen}"></i>
                </div>
                <h6 class="duration">11 | 2 hr 17min </h6>
            </span>

            <div class="subhead-panel">

                <p class="mb-1"> Day-1 :- I go to school. <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 16:29 </span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-2 :- I have done homework.<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 12:19 </span>
                </p>

            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-3 :- I went to Delhi. <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 11:30 </span>
                </p>

            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Revision-1 :- Day -1 to day-3 <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration">9:32</span>
                </p>

            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-4 :- I will go to Mumbai.<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration">11:03 </span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-5 :- I am doing job. <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration">9:13</span>
                </p>
            </div>

            <hr>
            <div class="subhead-panel">
                <p class="mb-1">Day-6 :- I was going to market. <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 09:47 </span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-7 :- Wish words <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 09:37 </span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Revision-2 :- Day -1 to day-7 <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 49:53 </span>
                </p>
            </div>
            <hr>

        </accordion-group>
        <!-- Module 2 -->
        <accordion-group [isOpen]="false" #accGroup12>
            <span accordion-heading>
                <div class="accordionhead">
                    Module 2
                    <i class="fa icon "
                        [ngClass]="{'fa-angle-up': accGroup12?.isOpen, 'fa-angle-down': !accGroup12?.isOpen}"></i>
                </div>
                <h6 class="duration">8 | 1 hr 58min </h6>
            </span>


            <div class="subhead-panel">
                <p class="mb-1"> Day-8 :- I can ride fast.<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 10:06</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1">Day-9 :- I could ride cycle <br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 11:46 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1">Day-10 :- I have got new bike. <br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 11:16 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-11 :- What is hesitation ?<br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 6:56 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1">Day-12 :- You should come on time. <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 11:12</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1">Day-13 :- You should have learnt English.<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 12:58 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-14 :- I used to live in village.<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 10:30</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Revision-3 :- Day-8 to Day-14 <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 45:11</span>
                </p>
            </div>
            <hr>


        </accordion-group>
        <!-- Module 3 -->
        <accordion-group [isOpen]="false" #accGroup13>
            <span accordion-heading>
                <div class="accordionhead">
                    Module 3
                    <i class="fa icon "
                        [ngClass]="{'fa-angle-up': accGroup13?.isOpen, 'fa-angle-down': !accGroup13?.isOpen}"></i>
                </div>
                <h6 class="duration">8 | 1 hr 48min </h6>
            </span>


            <div class="subhead-panel">
                <p class="mb-1">Day-15 :- I am sick of my old car<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 08:51</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-16 :- What is the time? <br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 08:16 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1">Day-17 :- I have to study till late night.<br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 11:22 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1">Day-18 :- I had to give up study.<br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 11:15</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-19 :- I will have to do part time job. <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration">11:47</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1">Day-20 :- I want to go to abroad. <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 08:35 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-21 :- I wanted to buy a bike.<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 11:03</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Revision-4 :- Day -15 to day-21 <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration">38:25 </span>
                </p>
            </div>
            <hr>


        </accordion-group>
        <!-- Module 4-->
        <accordion-group [isOpen]="false" #accGroup14>
            <span accordion-heading>
                <div class="accordionhead">
                    Module 4
                    <i class="fa icon "
                        [ngClass]="{'fa-angle-up': accGroup14?.isOpen, 'fa-angle-down': !accGroup14?.isOpen}"></i>
                </div>
                <h6 class="duration">7 | 1 hr 29min </h6>
            </span>


            <div class="subhead-panel">
                <p class="mb-1"> Day-22 :- I try to speak English fluently.<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration">09:22</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-23 :- I tried to do business. <br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 09:12 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1">Day-24 :- I am student. <br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 10:27 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-25 :- I was team leader.<br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 09:10</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1">Day-26 :- I would like to take coffee. <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 09:49</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1">Day-27 :- Yes, I do. <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration">11:46 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Revision-5 :- Day -22 to day-27 <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 31:21 </span>
                </p>
            </div>
            <hr>


        </accordion-group>
        <!-- Module 5-->
        <accordion-group [isOpen]="false" #accGroup15>
            <span accordion-heading>
                <div class="accordionhead">
                    Module 5
                    <i class="fa icon "
                        [ngClass]="{'fa-angle-up': accGroup15?.isOpen, 'fa-angle-down': !accGroup15?.isOpen}"></i>
                </div>
                <h6 class="duration">11 | 59mins </h6>
            </span>


            <div class="subhead-panel">
                <p class="mb-1"> Day-28 :- I get confuse. <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 10:32</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-29 & 30 :- I have got late for office.<br>
                    I got late for office yesterday.<br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 09:46 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1">Day-31 :- I am getting late. <br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration">09:40</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1">Day-32 :- I have given up my job.<br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 08:58</span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1">Revision-6 :- Day -28 to day-32 <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 21:50</span>
                </p>
            </div>
            <hr>
        </accordion-group>
        <!-- Module 6-->
        <accordion-group [isOpen]="false" #accGroup16>
            <span accordion-heading>
                <div class="accordionhead">
                    Module 6
                    <i class="fa icon "
                        [ngClass]="{'fa-angle-up': accGroup16?.isOpen, 'fa-angle-down': !accGroup16?.isOpen}"></i>
                </div>
                <h6 class="duration">7 | 51 mins </h6>
            </span>


            <div class="subhead-panel">
                <p class="mb-1"> Day-33 :- What is your name ?<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 14:44 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1">Day-34 :- What time do go to school ? <br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 03:49</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Day-35 :- Which school do you read ? <br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 04:22 </span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1">Day-36 :- Where are you going ?<br>
                    &nbsp; <i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 02:58</span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-37 :- When will you go to out of station ? <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 02:57</span>
                </p>
            </div>
            <hr>
            <h5> Conversations </h5>
            <div class="subhead-panel">
                <p class="mb-1"> Day-38 :- Who is your classmate ? <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 04:51</span>
                </p>
            </div>
            <hr>

            <div class="subhead-panel">
                <p class="mb-1"> Revision-7 :- Day -33 to day-38 <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 19:56</span>
                </p>
            </div>
            <hr>
        </accordion-group>

        <!-- Module 7-->
        <accordion-group [isOpen]="false" #accGroup17>
            <span accordion-heading>
                <div class="accordionhead">
                    Module 7
                    <i class="fa icon "
                        [ngClass]="{'fa-angle-up': accGroup17?.isOpen, 'fa-angle-down': !accGroup17?.isOpen}"></i>
                </div>
                <h6 class="duration">8 | 1hr 28mins </h6>
            </span>


            <div class="subhead-panel">
                <p class="mb-1"> Day-39 :- Whom do you want to meet ?<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 02:45 </span>
                </p>
            </div>
            <hr>
            
            <div class="subhead-panel">
                <p class="mb-1"> Day-40 :- Why do you want to go Mumbai ?<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 04:18 </span>
                </p>
            </div>
            <hr>
            
            <div class="subhead-panel">
                <p class="mb-1"> Day-41 :- How are you ? <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 03:38 </span>
                </p>
            </div>
            <hr>
            
            <div class="subhead-panel">
                <p class="mb-1"> Day-42  :- How often do you take tea in a day ? <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 03:14 </span>
                </p>
            </div>
            <hr>
            
            <div class="subhead-panel">
                <p class="mb-1"> Day-43 :- How far is post office from here ?<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 03:13 </span>
                </p>
            </div>
            <hr>
            
            <div class="subhead-panel">
                <p class="mb-1"> Day-44 :- Could you pass the salt please ? <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 06:44</span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-45 :- The coffee has been prepared <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 25:57</span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Revision-8 :-  Day-39 to Day-45  <br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 40:35</span>
                </p>
            </div>
            <hr>

        </accordion-group>

        <!-- Module 8-->
        <accordion-group [isOpen]="false" #accGroup08>
            <span accordion-heading>
                <div class="accordionhead">
                    Module 8
                    <i class="fa icon "
                        [ngClass]="{'fa-angle-up': accGroup08?.isOpen, 'fa-angle-down': !accGroup08?.isOpen}"></i>
                </div>
                <h6 class="duration">6 | 31 mins </h6>
            </span>


           
            <div class="subhead-panel">
                <p class="mb-1"> Day-46 :- <br>
                    1. &nbsp; Where is post office ?<br>   
                    2. &nbsp;  Talking between two youth about future ?<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 06:46</span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-47 :- <br>
                    1. &nbsp; On the telephone<br>   
                    2. &nbsp; An accident<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 05:38</span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-48 :- <br>
                    1. &nbsp;  At the green grocer<br>   
                    2. &nbsp;  Talking between two women<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 06:55</span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-49 :- <br>
                    1. &nbsp;  A film<br>   
                    2. &nbsp; In the bank<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 06:26</span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-50 :- <br>
                    1. &nbsp; A hubby and his better half<br>   
                    2. &nbsp; Talk between a father and a daughter<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 05:42</span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Day-51 :- <br>
                    1. &nbsp; Myself<br>   
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 01:55</span>
                </p>
            </div>
            <hr>
            <div class="subhead-panel">
                <p class="mb-1"> Farewell<br>
                    &nbsp;<i class="fas fa-play fa-xs"> </i>
                    &nbsp;<span class="duration"> 03:11</span>
                </p>
            </div>
        </accordion-group>

        <!-- <accordion-group heading="Header">
        <accordion-heading>
          <mdb-icon fas icon="angle-down"></mdb-icon>
        </accordion-heading>
        This is just some content to illustrate fancy headings.
    </accordion-group> -->
        <!-- <accordion-group heading="Header">
        <mdb-icon fas icon="angle-down"></mdb-icon>
        This content is straight in the template.
      </accordion-group>
      <accordion-group heading="Content 1">
        <p>Content 1</p>
      </accordion-group>
      <accordion-group heading="Content 2">
        <p>Content 2</p>
      </accordion-group>
      <accordion-group heading="Content 3">
        <p>Content 3</p>
      </accordion-group>
      <accordion-group heading="Content 4">
        <p>Content 4</p>
      </accordion-group>
      <accordion-group heading="Content 5">
        <p>Content 5</p>
      </accordion-group>
      <accordion-group heading="Content 6">
        <p>Content 6</p>
      </accordion-group>
        <accordion-group heading="Content 7">
        <p>Content 7</p>
      </accordion-group> -->
    </accordion>
</div>