

<section id="devices">

    <div class="container dinput mt-5">
        <div class="row">

            <div class="col-md-12  ">

                <h4 class="dprofile mt-2 mb-2">Device Selection - Select your devices</h4>

                <div class="btn-group-vertical" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary">Left</button>
                    <button type="button" class="btn btn-secondary">Middle</button>
                    <button type="button" class="btn btn-secondary">Right</button>
                  </div>
                  


            </div>
        </div>
    </div>

</section>