<div class="purple_border"></div>
<div class="golden_border1"></div> 

<div class ="container">
      <div class="navbar">
        <div class="logo">
          <img src="assets/images/anu-aca-logo.gif">
        </div>
  <nav>
     <ul>
     
        <li> <a href="">Home</a></li>
        <li> <a href="">About</a></li>
        <li> <a href="">Courses</a></li>
        <li> <a href="">Live Class</a></li>
        <li> <a href="">Be Our Partner</a></li>
      <!----	<li> <a href="">Testimonials</a></li>---->
        <li> <a href="">Contact Us</a></li>
        <li> <a href="">Share</a></li>
   </ul>
 
  
<!-----------------------Login Form------------------->


<button *ngIf="LoginButton" class="button button1" style="width:auto;" (click)="logout()">Logout</button>




     </nav>
   </div >    
</div >   
<br>
<br>
<div class="golden_border2"></div> 